USE [DB_NOMKFC]
GO
/****** Object:  StoredProcedure [RRHH].[pa_alerta_cedulas_biometrico_invalidas]    Script Date: 12/6/2026 12:04:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Katerin Carrillo
-- Create date: 12/06/2026
-- Description:	Se inserta los datos en la tabla notificacionesConsolidadas
-- =============================================
ALTER PROCEDURE [RRHH].[pa_alerta_cedulas_biometrico_invalidas]
AS
BEGIN
	DECLARE @destinatarios varchar(max);
	BEGIN TRY
    SET NOCOUNT ON;

    DECLARE 
        @Body NVARCHAR(MAX),
        @Subject NVARCHAR(200),
        @TotalRegistros INT;

    DECLARE @Errores TABLE (
        CCO NVARCHAR(10),
        DescripcionCCO NVARCHAR(200),
        CedulaRegistrada NVARCHAR(20),
        NombreRegistrado NVARCHAR(100),
        CedulaSugerida NVARCHAR(20)
    );

    -- Crear tabla temporal local
    CREATE TABLE #BiometricoTemp (
        DEVICE_ID NVARCHAR(20),
        USER_ID NVARCHAR(20),
        FIRST_NAME NVARCHAR(100),
        LAST_NAME NVARCHAR(100)
    );

    -- Insertar datos desde el biométrico (excluyendo USER_ID 601)
    INSERT INTO #BiometricoTemp (DEVICE_ID, USER_ID, FIRST_NAME, LAST_NAME)
    SELECT DEVICE_ID, USER_ID, FIRST_NAME, LAST_NAME
    FROM [srvv-biomdb].[BiometricosDIEL].[dbo].[TBL_REALTIME_ENROLL_DATA]
    WHERE USER_ID <> '601';

    -- Obtener solo CCOs activos con biométrico
    WITH CCO_Biometricos AS (
        SELECT cco, id_biometrico, descripcion
        FROM Catalogos.centro_costos
        WHERE tieneBimetrico = 1 AND id_biometrico IS NOT NULL AND estatus = 1
    )
    -- Insertar en tabla de errores los registros no existentes
    INSERT INTO @Errores (CCO, DescripcionCCO, CedulaRegistrada, NombreRegistrado, CedulaSugerida)
    SELECT 
        ccoB.cco,
        ccoB.descripcion,
        bio.USER_ID,
        bio.FIRST_NAME + ' ' + bio.LAST_NAME,
        (
            SELECT TOP 1 tb.Trabajador
            FROM RRHH.vw_datosTrabajadoresBasico tb
            WHERE tb.Nombre LIKE '%' + bio.FIRST_NAME + '%' AND tb.Nombre LIKE '%' + bio.LAST_NAME + '%'
        ) AS CedulaSugerida
    FROM #BiometricoTemp bio
    INNER JOIN CCO_Biometricos ccoB ON ccoB.id_biometrico = bio.DEVICE_ID
    LEFT JOIN RRHH.vw_datosTrabajadoresBasico tb  
        ON tb.Trabajador = bio.USER_ID
    WHERE tb.Trabajador IS NULL
      AND bio.FIRST_NAME IS NOT NULL
      AND bio.LAST_NAME IS NOT NULL;

    SELECT @TotalRegistros = COUNT(*) FROM @Errores;

    SET @Subject = 
        CASE 
            WHEN @TotalRegistros > 0 THEN 'Alerta: Cédulas Incorrectas en Biométricos'
            ELSE 'Alerta: Cédulas Incorrectas en Biométricos [SIN NOVEDAD]'
        END;

    SET @Body = 
    N'<div style="font-family: Calibri;">
        <p>&nbsp;&nbsp;</p>
        <div style="padding-left: 25px; padding-right: 25px;">
            <table style="font-family: Calibri;" border="1" width="950" cellspacing="0" cellpadding="0">
                <tbody>
                    <tr>
                        <td style="width: 904px; align-content: center; background-color: #536d87;" align="center">
                            <span style="color: #ffffff;"><strong>Reporte Consolidado – Cédulas Incorrectas en Biométricos</strong></span>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 904px; padding-left: 25px; padding-right: 25px;">';

    IF @TotalRegistros > 0
    BEGIN
        SET @Body += N'
            <p>Se detectaron registros en los biométricos con cédulas que no están en el sistema, pero coinciden por nombre. Se sugiere revisar estas cédulas.</p>
            <table border="1" width="100%" cellspacing="0" cellpadding="5" style="font-size: 11px;">
                <tr style="background-color: #536d87; color: white;">
                    <th>CCO</th>
                    <th>Descripción CCO</th>
                    <th>Cédula Registrada</th>
                    <th>Nombre Registrado</th>
                    <th>Cédula Sugerida</th>
                </tr>';

        DECLARE @CCO NVARCHAR(10), @DescCCO NVARCHAR(200), @Cedula NVARCHAR(20), @Nombre NVARCHAR(100), @CedulaOk NVARCHAR(20);
        DECLARE cur CURSOR FOR 
            SELECT CCO, DescripcionCCO, CedulaRegistrada, NombreRegistrado, CedulaSugerida FROM @Errores;

        OPEN cur;
        FETCH NEXT FROM cur INTO @CCO, @DescCCO, @Cedula, @Nombre, @CedulaOk;

        WHILE @@FETCH_STATUS = 0
        BEGIN
            SET @Body += 
            N'<tr>' +
                N'<td>' + ISNULL(@CCO, '') + N'</td>' +
                N'<td>' + ISNULL(@DescCCO, '') + N'</td>' +
                N'<td>' + ISNULL(@Cedula, '') + N'</td>' +
                N'<td>' + ISNULL(@Nombre, '') + N'</td>' +
                N'<td>' + ISNULL(@CedulaOk, 'Sin coincidencia') + N'</td>' +
            N'</tr>';

            FETCH NEXT FROM cur INTO @CCO, @DescCCO, @Cedula, @Nombre, @CedulaOk;
        END
        CLOSE cur;
        DEALLOCATE cur;

        SET @Body += N'</table>';
    END
    ELSE
    BEGIN
        SET @Body += N'<p>No se encontraron cédulas incorrectas en los dispositivos biométricos durante esta ejecución.</p>';
    END

    SET @Body += N'
        <p>Atentamente,</p>
        <p><strong>PAYROLL NOMINA</strong></p>
        <p>Mensaje automático. No responder.</p>
        </td>
        </tr>
        <tr>
            <td style="width: 904px; align-content: center; background-color: #536d87;" align="center">
                <span style="color: #ffffff;"><strong>PAYROLL</strong></span>
            </td>
        </tr>
        </tbody></table></div><p>&nbsp;</p></div>';

		select @destinatarios = valor from Configuracion.parametros where parametro = 'EnrNoCnst'

    --Insert en notificaciones consolidadas
    IF @TotalRegistros > 0
        INSERT INTO Avisos.notificacionesConsolidadas (estado, origen, spOrigen, asunto, descripcionHtml, destinatarios, periodoInicio, periodoFin, descripcion, prioridad, categoria, mensajeError)
        VALUES ('A', 'EnrNoCnst', 'pa_alerta_cedulas_biometrico_invalidas', @Subject, @Body, @destinatarios, NULL, NULL, 'Con novedad', 'Alta', 'PRT - HORARIOS Y MARCACIONES', NULL);
    ELSE
        INSERT INTO Avisos.notificacionesConsolidadas (estado, origen, spOrigen, asunto, descripcionHtml, destinatarios, periodoInicio, periodoFin, descripcion, prioridad, categoria, mensajeError)
        VALUES ('C', 'EnrNoCnst', 'pa_alerta_cedulas_biometrico_invalidas', @Subject, @Body, @destinatarios, NULL, NULL, 'Sin novedad', 'Alta', 'PRT - HORARIOS Y MARCACIONES', NULL);

    EXEC msdb.dbo.Sp_send_dbmail
        @profile_name = 'Informacion_Nomina',
		@copy_recipients ='smosquera@sipecom.com;jruiz.sipecom@outlook.com',
        @recipients =@destinatarios,
        @subject = @Subject,
        @body = @Body,
        @body_format = 'HTML';

	END TRY
	BEGIN CATCH
		--Insert en notificaciones consolidadas
		INSERT INTO Avisos.notificacionesConsolidadas (estado, origen, spOrigen, asunto, descripcionHtml, destinatarios, periodoInicio, periodoFin, descripcion, prioridad, categoria, mensajeError)
		VALUES ('E', 'EnrNoCnst', 'pa_alerta_cedulas_biometrico_invalidas', 'Alerta: Cédulas Incorrectas en Biométricos', NULL, ISNULL(@destinatarios, 'pasante.nominadosec@kfc.com.ec'), NULL, NULL, 'Error Proceso', 'Alta', 'PRT - HORARIOS Y MARCACIONES', ERROR_MESSAGE());
	END CATCH
END
