USE [ADAM]
GO
/****** Object:  StoredProcedure [dbo].[pa_aviso_trabSinDatosComplementarios]    Script Date: 1/6/2026 12:30:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 

 ALTER  procedure [dbo].[pa_aviso_trabSinDatosComplementarios]
 AS

declare
@mensaje varchar(3000), 
@asunto varchar(250), 
@html varchar(4000),
@saludos varchar(100),
@correo varchar(1000),  
@b smallint=0, 
@i smallint=0,
@query1 varchar(max), 
@w smallint= 0,
@comilla char(1),
@correoCC varchar(1000)
 
 
 Begin
  BEGIN TRY

----Asignamos el correo

select @i= count(*) from FPV_Parametros where Parametro ='mail_Jerar'

  if @i> 1 
   begin
     
     select @correo = dbo.fn_correosVariosRemitentes('mail_Jerar')
   end
   
   
  else
   begin 
    select @correo = Valor from FPV_Parametros where Parametro ='mail_Jerar'
 
   end
 
 
 select @b= count(*) from FPV_Parametros where Parametro = 'Mail_JerCC'
 
 if @b> 1 
   begin
     
     select  @correoCC  = dbo.fn_correosVariosRemitentes('Mail_JerCC')
   end
   
   
  else
   begin 
    select @correoCC = Valor from FPV_Parametros where Parametro ='Mail_JerCC'
 
   end
  
 ---------------------------------------------------------------------------------------------------------------------
  
  
  select @w =  COUNT(*) from  Adam.dbo.vw_datos_trabajador_nomina where Codigo not in (select Codigo from  Adam.dbo.FPV_Flujos_Jefes) and Situacion =  'Activo' 
 
  
    if @w > 0
    Begin  
     set @mensaje =  ' Le adjuntamos un listado de los trabajadores que no tienen datos complementarios asignados ( calle_principal, calle_secundaria, barrio, canton, estado, pais, lugar_referencia,no_casa,telefono, celular, nivel_estudios, etnia, parentezcoo_NoREFERENCIA, telef_referencia, sector_vivienda)'
     
      set @asunto = 'Trabajadores sin datos complementarios completos '

  set @saludos = 'Buenos Dias' 
  
  select @html = '<head> <title></title> <style type="text/css">.style10 { width: 153px; text-align: center;  } .style12 { color: #800000;text-decoration: underline;  }  </head>' +
    N'<body><H1  style="font-family: ''Trebuchet MS''; font-size: medium; font-weight: bold; font-style: normal; color: #993300">'+@saludos+'</H1>' +
    N'<b></b> '+
    N'<p> '+ @mensaje+ '</p> '+
    N'<br/><br /><br/><br/><br/> <br/><br/><br/>'+
    ' </body>'  ;


	--select @query1  = 'select  compania ,Clase_Nomina, CCO, trabajador, codigo, Nombre, jefe1, jefe2 from  adam.dbo.vw_datos_trabajador_nomina where trabajador not in (select trabajador from  adam.dbo.Vw_flujos_datos_complementariosTrab) and Situacion = ''Activo'' '
 
 select  compania ,Clase_Nomina, CCO, trabajador, codigo, Nombre, jefe1, jefe2 
 from  adam.dbo.vw_datos_trabajador_nomina where trabajador not in (select trabajador from  adam.dbo.Vw_flujos_datos_complementariosTrab) and Situacion =  'Activo' 
 
 DECLARE @tableHTML NVARCHAR(MAX);

SET @tableHTML = 
N'<html>
<head>
    <style>
        table { border-collapse: collapse; width: 100%; }
        th, td { border: 1px solid black; padding: 8px; text-align: left; }
        th { background-color: #f2f2f2; }
    </style>
</head>
<body>
    <h3>Trabajadores sin datos complementarios completos</h3><br />
	<p> '+ @mensaje+ '</p> 
    <table>
        <tr>
            <th>compania</th>
            <th>Clase_Nomina</th>
            <th>CCO</th>
            <th>trabajador</th>
            <th>codigo</th>
            <th>Nombre</th>
            <th>jefe1</th>
            <th>jefe2</th>
        </tr>';

-- Concatenar filas al HTML
SELECT @tableHTML = @tableHTML + 
    N'<tr>
        <td>' + compania + '</td>
        <td>' + Clase_Nomina + '</td>
        <td>' + CCO + '</td>
        <td>' + trabajador + '</td>
        <td>' + codigo + '</td>
        <td>' + Nombre + '</td>
        <td>' + jefe1 + '</td>
        <td>' + jefe2 + '</td>
    </tr>'
FROM Adam.dbo.vw_datos_trabajador_nomina
WHERE   trabajador not in (select trabajador from  adam.dbo.Vw_flujos_datos_complementariosTrab) and Situacion =  'Activo' 

-- Finalizar el HTML
SET @tableHTML = @tableHTML + 
N'</table>
</body>
</html>';

   --Insert en notificaciones consolidadas
   INSERT INTO DB_NOMKFC.Avisos.notificacionesConsolidadas (estado, origen, spOrigen, asunto, descripcionHtml, destinatarios, periodoInicio, periodoFin, descripcion, prioridad, categoria, mensajeError)
   VALUES ('A', 'mail_Jerar/Mail_JerCC', 'pa_aviso_trabSinDatosComplementarios', @asunto, @tableHTML, @correo, NULL, NULL, 'Con novedad', 'Media', 'JERARQUIAS', NULL);

   exec msdb.dbo.Sp_send_dbmail
    @profile_name='Mail_Sql_Adam',
    @Subject = @asunto,
    @recipients =  @correo	,
    @body_format= 'html',
    @body = @tableHTML  , 
	@copy_recipients = @correoCC;
    --@query = @query1 ,
    --@query_result_width = 32767,
    --@query_result_separator=',',
    
   -- @query_attachment_filename = 'ListadoTrabSinDatosComplementarios.csv',
   -- @attach_query_result_as_file = 1 ; 
    
    end
    else
    begin
       set @mensaje =  ' No existe trabajadores sin datos complementarios'
       
        set @asunto = 'Trabajadores sin datos complementarios completos '

  set @saludos = 'Buenos Dias' 
  
  select @html = '<head> <title></title> <style type="text/css">.style10 { width: 153px; text-align: center;  } .style12 { color: #800000;text-decoration: underline;  }  </head>' +
    N'<body><H1  style="font-family: ''Trebuchet MS''; font-size: medium; font-weight: bold; font-style: normal; color: #993300">'+@saludos+'</H1>' +
    N'<b></b> '+
    N'<p> '+ @mensaje+ '</p> '+
    N'<br/><br /><br/><br/><br/> <br/><br/><br/>'+
    ' </body>'  ; 

   --Insert en notificaciones consolidadas
   INSERT INTO DB_NOMKFC.Avisos.notificacionesConsolidadas (estado, origen, spOrigen, asunto, descripcionHtml, destinatarios, periodoInicio, periodoFin, descripcion, prioridad, categoria, mensajeError)
   VALUES ('C', 'mail_Jerar/Mail_JerCC', 'pa_aviso_trabSinDatosComplementarios', @asunto, @html, @correo, NULL, NULL, 'Sin novedad', 'Media', 'JERARQUIAS', NULL);

   exec msdb.dbo.Sp_send_dbmail
    @Subject = @asunto,
    @recipients =  @correo	,
    @body_format= 'html',
    @body = @html  ,  
    @copy_recipients = @correoCC ; 
    end
    
    
  
    
    END TRY
    BEGIN CATCH
        --Insert en notificaciones consolidadas
        INSERT INTO DB_NOMKFC.Avisos.notificacionesConsolidadas (estado, origen, spOrigen, asunto, descripcionHtml, destinatarios, periodoInicio, periodoFin, descripcion, prioridad, categoria, mensajeError)
        VALUES ('E', 'mail_Jerar/Mail_JerCC', 'pa_aviso_trabSinDatosComplementarios', 'Trabajadores sin datos complementarios completos', NULL, @correo, NULL, NULL, 'Error Proceso', 'Media', 'JERARQUIAS', ERROR_MESSAGE());
    END CATCH
    End
    