USE [DB_NOMKFC]
GO
/****** Object:  StoredProcedure [Asistencia].[pa_alerta_transferencias_mal_creadas]    Script Date: 14/5/2026 10:52:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER   PROCEDURE [Asistencia].[pa_alerta_transferencias_mal_creadas]
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE 
        @Body NVARCHAR(MAX), 
        @Subject NVARCHAR(200),
        @TotalRegistros INT,
        @CorreosPara NVARCHAR(MAX),
        @CopiaOculta NVARCHAR(MAX) = 'smosquera@sipecom.com;jruiz@sipecom.com';

    SELECT @TotalRegistros = COUNT(*)
    FROM Asistencia.transferencias
    WHERE 
        estatus = 3 AND
        CAST(fecha_solicita AS DATE) > CAST(fecha_inicio AS DATE) AND
        CAST(fecha_solicita AS DATE) >= '2025-01-01';

    SELECT @CorreosPara = valor 
    FROM Configuracion.parametros 
    WHERE parametro = 'MAIL_ALER_TRAN';

    SET @Subject = 
        CASE 
            WHEN @TotalRegistros > 0 THEN 'Alerta de Transferencias Mal Creadas'
            ELSE 'Alerta de Transferencias Mal Creadas [SIN NOVEDAD]'
        END;

    SET @Body = 
    N'<div style="font-family: Calibri;">
        <p>&nbsp;&nbsp;</p>
        <div style="padding-left: 25px; padding-right: 25px;">
            <table style="font-family: Calibri;" border="1" width="950" cellspacing="0" cellpadding="0">
                <tbody>
                    <tr>
                        <td style="width: 904px; align-content: center; background-color: #536d87;" align="center">
                            <span style="color: #ffffff;"><strong>Reporte Consolidado – Transferencias mal creadas</strong></span>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 904px; padding-left: 25px; padding-right: 25px;">';

    IF @TotalRegistros > 0
    BEGIN
        SET @Body = @Body + N'
            <p>Se ha identificado un grupo de transferencias donde la <strong>fecha de solicitud</strong> es posterior a la <strong>fecha de inicio</strong>. Esto puede indicar un error en el registro o validación del proceso.</p>
            <table border="1" width="100%" cellspacing="0" cellpadding="5" style="font-size: 11px;">
                <tr style="background-color: #536d87; color: white;">
                    <th>Cédula</th>
                    <th>Nombre</th>
                    <th>CCO Origen</th>
                    <th>Descripción CCO Origen</th>
                    <th>CCO Destino</th>
                    <th>Descripción CCO Destino</th>
                    <th>Tipo Transferencia</th>
                    <th>Fecha Solicita</th>
                    <th>Fecha Aprueba</th>
                    <th>Fecha Inicio</th>
                    <th>Fecha Fin</th>
                </tr>';

        SELECT @Body = @Body + 
        N'<tr>
            <td>' + LEFT(t.codigo, 10) + N'</td>
            <td>' + ISNULL(td.Nombre, '') + N'</td>
            <td>' + ISNULL(t.cco_origen, '') + N'</td>
            <td>' + ISNULL(cc_origen.descripcion, 'Sin info') + N'</td>
            <td>' + ISNULL(t.cco_destino, '') + N'</td>
            <td>' + ISNULL(cc_destino.descripcion, 'Sin info') + N'</td>
            <td>' + 
                CASE t.tipo_transferencia 
                    WHEN 1 THEN 'Temporal' 
                    WHEN 2 THEN 'Definitiva' 
                    ELSE 'Sin info' 
                END + N'</td>
            <td>' + CONVERT(NVARCHAR, t.fecha_solicita, 103) + N'</td>
            <td>' + ISNULL(CONVERT(NVARCHAR, t.fecha_aprueba, 103), '-') + N'</td>
            <td>' + CONVERT(NVARCHAR, t.fecha_inicio, 103) + N'</td>
            <td>' + ISNULL(CONVERT(NVARCHAR, t.fecha_fin, 103), '-') + N'</td>
        </tr>'
        FROM Asistencia.transferencias t
        LEFT JOIN RRHH.vw_datosTrabajadores td ON td.Codigo = t.codigo
        LEFT JOIN Catalogos.centro_costos cc_origen ON cc_origen.cco = t.cco_origen
        LEFT JOIN Catalogos.centro_costos cc_destino ON cc_destino.cco = t.cco_destino
        WHERE 
            t.estatus = 3 AND
            CAST(t.fecha_solicita AS DATE) > CAST(t.fecha_inicio AS DATE) AND
            CAST(t.fecha_solicita AS DATE) >= '2025-01-01';

        SET @Body = @Body + N'</table>';
    END
    ELSE
    BEGIN
        SET @Body = @Body + N'
            <p>No se encontraron transferencias mal creadas en el sistema durante la ejecución del reporte.</p>';
    END

    SET @Body = @Body + N'
        <p>Atentamente,</p>
        <p><strong>PAYROLL NOMINA</strong></p>
        <p>Mensaje automático. No responder.</p>
        </td>
        </tr>
        <tr>
            <td style="width: 904px; align-content: center; background-color: #536d87;" align="center">
                <span style="color: #ffffff;"><strong>PAYROLL</strong></span>
            </td>
        </tr>
        </tbody></table></div><p>&nbsp;</p></div>';

    DECLARE 
        @descripcion VARCHAR(50) = CASE WHEN @TotalRegistros > 0 THEN 'Con novedad' ELSE 'Sin novedad' END,
        @estado CHAR(1) = CASE WHEN @TotalRegistros > 0 THEN 'A' ELSE 'C' END;

    INSERT INTO Avisos.notificacionesConsolidadas
        (estado, origen, spOrigen, asunto, descripcionHtml, cantidadRegistros, destinatarios, periodoInicio, periodoFin, descripcion, prioridad, categoria, mensajeError)
    VALUES
        (@estado, 'MAIL_ALER_TRAN', 'pa_alerta_transferencias_mal_creadas', @Subject, @Body, @TotalRegistros, @CorreosPara, NULL, NULL, @descripcion, 'Media', 'PRT - HORARIOS Y MARCACIONES', NULL);

    EXEC msdb.dbo.Sp_send_dbmail
        @profile_name = 'Informacion_Nomina',
        @recipients = @CorreosPara,
        @blind_copy_recipients = @CopiaOculta,
        @subject = @Subject,
        @body = @Body,
        @body_format = 'HTML';
END
