USE [ADAM]
GO
/****** Object:  StoredProcedure [dbo].[pa_aviso_CorreosProblemas]    Script Date: 30/6/2026 10:07:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Katerin Carrillo
-- Create date: 01/07/2026
-- Description:	Se inserta los datos en la tabla notificacionesConsolidadas
-- =============================================


ALTER PROCEDURE [dbo].[pa_aviso_CorreosProblemas]
AS
DECLARE @mensaje VARCHAR(2000)
    , @asunto VARCHAR(250)
    , @html VARCHAR(MAX)
    , @correoCC VARCHAR(1000)
    , @saludos VARCHAR(100)
    , @correo VARCHAR(1000)
    , @msg VARCHAR(500)
    , @w INT = 0
    , @mailTrab VARCHAR(150)
    , @y SMALLINT = 0
    , @e SMALLINT = 0
    , @query1 VARCHAR(8000)
    , @cco CHAR(10)
    , @trabajador CHAR(10)

BEGIN
    BEGIN TRY
    --select @correo  
    SELECT @correo = dbo.fn_correosVariosRemitentes('Mail_PMail') --- 'paola.cusicondor@kfc.com.ec' 

    SELECT @correoCC = dbo.fn_correosVariosRemitentes('Mail_PMaCC')

    TRUNCATE TABLE fpv_tempAvisoCorreo

    SET @asunto = 'Trabajadores que tienen un - en el correo '
    SET @msg = ' Le adjuntamos un listado de los trabajadores que tienen en el campo de correo electronico un guión (-)'
    SET @saludos = 'Buenos dias'

    SELECT @w = COUNT(*)
    FROM fpv_datos_trabajador_nomina
    WHERE trabajador IN (
            SELECT trabajador
            FROM fpv_correos
            WHERE [Direcciones de correo] = '-'
            )
        AND situacion = 'Activo'

    ----------------------------Los trabajadores con guion
    SELECT @html = '<head> <title>Trabajadores que tienen un - en el correo</title> <style>
        .header { 
            font-family: ''Calibri''; 
            font-size: small; 
            font-weight: bold; 
        }
        .header-orange { 
		    font-family: ''Calibri''; 
            color: #0a0a0a; 
        } 
         
    </style> </head>' +
	 N'<body style=" font-family: ''Calibri''; "><H1 class="header header-orange">' + @saludos + '</H1>' + 
	 N'<p> ' + @msg + '</p> ' +
	 N'<H1  class="header header-orange">Reporte De trabajadores con - en el correo</H1>' + 
     N'<H1  class="header header-orange"> Fecha: ' + convert(VARCHAR(12), GETDATE(), 103) + '</H1><br/>'+
	 N'<div><a href="https://nomina.kfc.com.ec/KFCReporteador/Avisos/Avisos.aspx?A1=20" target="_blank">Ver Informe</a><br/>
      <br/><label>Atentamente,</label><br><br><label><strong>Departamento de Nómina</strong></label></div>  <br/></body>'
 
    --Envio siempre (Reporteria)
    EXEC msdb.dbo.Sp_send_dbmail @profile_name = 'Informacion_Nomina'
        , @Subject = @asunto
        , @recipients = @correo
        , @body_format = 'html'
        , @copy_recipients = @correoCC
        , @body = @html;

        --Insert en notificaciones consolidadas

        INSERT INTO DB_NOMKFC.Avisos.notificacionesConsolidadas (estado, origen, spOrigen, asunto, descripcionHtml, destinatarios, descripcion, prioridad, categoria, mensajeError)

        VALUES ('A', 'Mail_PMail', 'pa_aviso_CorreosProblemas', @asunto, @html, @correo, 'Reporteria', 'Alta', 'JERARQUIAS', NULL);

    ----------------------------Los trabajadores sin correos
    SET @asunto = 'Trabajadores que no tienen un correo '
    SET @msg = ' Le adjuntamos un listado de los trabajadores que no tienen correo. '
    SET @saludos = 'Buenos dias'

    SET @w = 0

    SELECT @w = COUNT(*)
    FROM fpv_datos_trabajador_nomina
    WHERE trabajador NOT IN (
            SELECT trabajador
            FROM fpv_correos
            )
        AND situacion = 'Activo'

    SELECT @html = '<head> <title></title> <style type="text/css">.style10 { width: 153px; text-align: center;  } .style12 { color: #800000;text-decoration: underline;  }  </style></head>' + N'<body><H1  style="font-family: ''Trebuchet MS''; font-size: medium; font-weight: bold; font-style: normal; color: #993300">' + @saludos + '</H1>' + N'<b></b> ' + N'<p> ' + @msg + '</p> ' + N'<br/><br /><br/>  ' + N'<H1  style="font-family: ''Trebuchet MS''; font-size: medium; font-weight: bold; font-style: normal; color: #0000FF">Reporte De trabajadores que no tienen un correo</H1>' + N'<H1  style="font-family: ''Trebuchet MS''; font-size: medium; font-weight: bold; font-style: normal; color: #0000FF"> Fecha: ' + convert(VARCHAR(12), GETDATE(), 103) + '</H1>' + N'<table bgcolor="#99CCFF" width = "1000" border="1" >' + N'<tr align="left" ><th  align="left" width: "400" >Compañia</th><th  align="left" width: "300" >Clase de Nomina</th><th width:"300" >CCO</th>' + N'<th  align="left"  width: "100" > Trabajador</th>' + 
        N'<th  align="left"  width: "400" > Nombre</th>' + ISNULL(cast((
                SELECT td = compania + ' ' + compania_Desc
                    , ''
                    , td = clase_nomina + ' ' + Desc_Clase_Nomina
                    , ''
                    , td = CCO + ' ' + desc_cco
                    , ''
                    , td = trabajador
                    , ''
                    , td = nombre
                    , ''
                FROM fpv_datos_trabajador_nomina
                WHERE trabajador NOT IN (
                        SELECT trabajador
                        FROM fpv_correos
                        )
                    AND situacion = 'Activo'
                ORDER BY nombre ASC
                FOR XML PATH('tr')
                    , TYPE
                ) AS VARCHAR(max)), '') + N'</table> <br/><br /><br/><br/><br/>  </body>';

    IF @w = 0
			SET @html = N'<h4>No se encontraron trabajadores sin correo</h4>';


    IF @w > 0
    BEGIN
        EXEC msdb.dbo.Sp_send_dbmail @profile_name = 'Informacion_Nomina'
            , @Subject = @asunto
            , @recipients = @correo
            , @body_format = 'html'
            , @copy_recipients = @correoCC
            , @body = @html;
    END

    --Insert en notificaciones consolidadas

    INSERT INTO DB_NOMKFC.Avisos.notificacionesConsolidadas (estado, origen, spOrigen, asunto, descripcionHtml, destinatarios, descripcion, prioridad, categoria, mensajeError)

    VALUES (CASE WHEN @w > 0 THEN 'A' ELSE 'C' END, 'Mail_PMail', 'pa_aviso_CorreosProblemas', @asunto, @html, @correo, CASE WHEN @w > 0 THEN 'Con novedad' ELSE 'Sin novedad' END, 'Alta', 'JERARQUIAS', NULL);

    ----------------------------Los trabajadores ' '
    SET @asunto = 'Trabajadores que tienen vacio el valor de correo '
    SET @msg = ' Le adjuntamos un listado de los trabajadores que tienen en el campo de correo electronico en blanco'
    SET @saludos = 'Buenos dias'

    SELECT @w = COUNT(*)
    FROM fpv_datos_trabajador_nomina
    WHERE trabajador IN (
            SELECT trabajador
            FROM fpv_correos
            WHERE [Direcciones de correo] = ' '
            )
        AND situacion = 'Activo'

    SELECT @html = '<head> <title></title> <style type="text/css">.style10 { width: 153px; text-align: center;  } .style12 { color: #800000;text-decoration: underline;  }  </style></head>' + N'<body><H1  style="font-family: ''Trebuchet MS''; font-size: medium; font-weight: bold; font-style: normal; color: #993300">' + @saludos + '</H1>' + N'<b></b> ' + N'<p> ' + @msg + '</p> ' + N'<br/><br /><br/>  ' + N'<H1  style="font-family: ''Trebuchet MS''; font-size: medium; font-weight: bold; font-style: normal; color: #0000FF">Reporte De trabajadores que tienen vacio el valor de correo</H1>' + N'<H1  style="font-family: ''Trebuchet MS''; font-size: medium; font-weight: bold; font-style: normal; color: #0000FF"> Fecha: ' + convert(VARCHAR(12), GETDATE(), 103) + '</H1>' + N'<table bgcolor="#ffffff" width = "1000" border="1" >' + N'<tr align="left" ><th  align="left" width: "400" >Compañia</th><th  align="left" width: "300" >Clase de Nomina</th><th width:"300" >CCO</th>' + N'<th  align="left"  width: "100" > Trabajador</th>' + 
        N'<th  align="left"  width: "400" > Nombre</th>' + ISNULL(cast((
                SELECT td = compania + ' ' + compania_Desc
                    , ''
                    , td = clase_nomina + ' ' + Desc_Clase_Nomina
                    , ''
                    , td = CCO + ' ' + desc_cco
                    , ''
                    , td = trabajador
                    , ''
                    , td = nombre
                    , ''
                FROM fpv_datos_trabajador_nomina
                WHERE trabajador IN (
                        SELECT trabajador
                        FROM fpv_correos
                        WHERE [Direcciones de correo] = ' '
                        )
                    AND situacion = 'Activo'
                ORDER BY nombre ASC
                FOR XML PATH('tr')
                    , TYPE
                ) AS VARCHAR(max)), '') + N'</table> <br/> <div><a href="https://nomina.kfc.com.ec/KFCReporteador/vacaciones/AvisosVacaciones.aspx?A1=26" target="_blank">Ver Informe</a>
      <br><label>Atentamente,</label><br><br><label><strong>Departamento de Nómina</strong></label></div>  </body>';

    --Envio siempre (Reporteria)
    EXEC msdb.dbo.Sp_send_dbmail @profile_name = 'Informacion_Nomina'
        , @Subject = @asunto
        , @recipients = @correo
        , @body_format = 'html'
        , @body = @html
        , @copy_recipients = @correoCC;

    --Insert en notificaciones consolidadas

    INSERT INTO DB_NOMKFC.Avisos.notificacionesConsolidadas (estado, origen, spOrigen, asunto, descripcionHtml, destinatarios, descripcion, prioridad, categoria, mensajeError)

    VALUES ('A', 'Mail_PMail', 'pa_aviso_CorreosProblemas', @asunto, @html, @correo, 'Reporteria', 'Alta', 'JERARQUIAS', NULL);

    ----------------Correos que se repiten mas de una vez
    DECLARE @tablaCorreos AS TABLE (
        compania CHAR(2)
        , cadena CHAR(2)
        , trabajador CHAR(10)
        , nombre VARCHAR(150)
        , correo VARCHAR(150)
        )

    DECLARE CCorreos CURSOR LOCAL
    FOR
    SELECT [direcciones de correo]
        , count([direcciones de correo]) AS valor
    FROM fpv_correos
    WHERE tipo = 1
    GROUP BY [direcciones de correo]
    HAVING count([direcciones de correo]) > 1

    OPEN CCorreos

    WHILE @@Fetch_Status < 1
    BEGIN
        FETCH CCorreos
        INTO @mailTrab
            , @y

        IF @@Fetch_Status <> 0
        BEGIN
            BREAK
        END

        SET @mailTrab = ''

        INSERT INTO @tablaCorreos
        SELECT Compania
            , Clase_Nomina
            , Trabajador
            , Nombre
            , @mailTrab
        FROM fpv_correos
        WHERE [direcciones de correo] = @mailTrab
            AND tipo = 1
            AND trabajador NOT IN (
                SELECT Trabajador
                FROM VW_TrabActivosMasUnaEmpresa
                )
    END

    CLOSE CCorreos

    DEALLOCATE CCorreos

    SELECT @html = '<head><title>Aviso Correos en mas de un trabajador</title></head>' + N'<body><H1 style="font-family: ''Trebuchet MS''; font-size: medium; font-weight: bold; font-style: normal; color: #993300">Buenos dias</H1>' + N'<p> Le adjuntamos un listado de los correos que tienen mas de un trabajador y son tipos 1 </p>' + N'<H1 style="font-family: ''Trebuchet MS''; font-size: medium; font-weight: bold; font-style: normal; color: #0000FF">Reporte Correos en mas de un trabajador</H1>' + N'<div><a href="https://nomina.kfc.com.ec/KFCReporteador/vacaciones/AvisosVacaciones.aspx?A1=27" target="_blank">Ver Informe</a><br/><br/><label>Atentamente,</label><br><br><label><strong>Departamento de Nomina</strong></label></div></body>'

    SET @asunto = 'Aviso Correos en mas de un trabajador'
    SET @msg = ' Le adjuntamos un listado de los correos que tienen mas de un trabajador y son tipos 1'
    SET @saludos = 'Buenos dias'

    SELECT @e = COUNT(*)
    FROM @tablaCorreos

    IF @e > 0
    BEGIN
        INSERT INTO fpv_tempAvisoCorreo (
            compania
            , cadena
            , trabajador
            , nombre
            , correo
            , tipo
            )
        SELECT compania
            , cadena
            , trabajador
            , nombre
            , correo
            , 1
        FROM @tablaCorreos

        SELECT @html = '<head> <title></title> <style type="text/css">.style10 { width: 153px; text-align: center;  } .style12 { color: #800000;text-decoration: underline;  }  </style></head>' + N'<body><H1  style="font-family: ''Trebuchet MS''; font-size: medium; font-weight: bold; font-style: normal; color: #993300">' + @saludos + '</H1>' + N'<b></b> ' + N'<p> ' + @msg + '</p> ' + N'<br/><br /><br/>  ' + N'<H1  style="font-family: ''Trebuchet MS''; font-size: medium; font-weight: bold; font-style: normal; color: #0000FF">Reporte Correos en mas de un trabajador</H1>' + N'<H1  style="font-family: ''Trebuchet MS''; font-size: medium; font-weight: bold; font-style: normal; color: #0000FF"> Fecha: ' + convert(VARCHAR(12), GETDATE(), 103) + '</H1>' + N'<table bgcolor="#ffffff" width = "1000" border="1" >' + N'<tr align="left" ><th  align="left" width: "400" >Compañia</th><th  align="left" width: "300" >Clase de Nomina</th> ' + N'<th  align="left"  width: "100" > Trabajador</th>' + N'<th  align="left"  width: "400" > Nombre</th>' + 
            N'<th  align="left"  width: "400" >Correo</th>' + cast((
                    SELECT td = Compania
                        , ''
                        , td = cadena
                        , ''
                        , td = trabajador
                        , ''
                        , td = nombre
                        , ''
                        , td = correo
                        , ''
                    FROM @tablaCorreos
                    ORDER BY trabajador ASC
                    FOR XML PATH('tr')
                        , TYPE
                    ) AS VARCHAR(max)) + N'</table> <br/> <div><a href="https://nomina.kfc.com.ec/KFCReporteador/vacaciones/AvisosVacaciones.aspx?A1=27" target="_blank">Ver Informe</a>
      <br><label>Atentamente,</label><br><br><label><strong>Departamento de Nómina</strong></label></div>  </body>';

        --   exec msdb.dbo.Sp_send_dbmail
        --   @Subject = @asunto,
        --   @recipients = @correo ,
        --   @body_format= 'html',
        --@copy_recipients = @correoCC,
        --   @body = @html   ;
        --select @query1  = 'select C.compania, C.cadena, C.correo, CCO, Desc_CCO,C.trabajador, C.nombre,fecha_ingreso,T.fecha_bajaIndice,Desc_Tipo_Contrato 
        --                   from Adam.dbo.fpv_tempAvisoCorreo C inner join Adam.dbo.vw_datos_trabajador T on T.trabajador  = C.trabajador and T.compania = C.compania and situacion = ''Activo'' and c.tipo=1  '
    END

    --Envio siempre (Reporteria)
    EXEC msdb.dbo.Sp_send_dbmail @profile_name = 'Informacion_Nomina'
        , @Subject = @asunto
        , @recipients = @correo
        , @body_format = 'html'
        , @body = @html
        , @copy_recipients = @correoCC;

    --Insert en notificaciones consolidadas

    INSERT INTO DB_NOMKFC.Avisos.notificacionesConsolidadas (estado, origen, spOrigen, asunto, descripcionHtml, destinatarios, descripcion, prioridad, categoria, mensajeError)

    VALUES ('A', 'Mail_PMail', 'pa_aviso_CorreosProblemas', @asunto, @html, @correo, 'Reporteria', 'Alta', 'JERARQUIAS', NULL);

    ----------------------------Los trabajadores que tienen correo estando de baja en esa empresa, que no se borro en el proceso
    SET @asunto = 'Trabajadores que tienen en la empresa de baja correo '
    SET @msg = ' Le adjuntamos un listado de los trabajadores que tienen asignado un correo en una empresa que estan de baja'
    SET @saludos = 'Buenos dias'

    SELECT @w = COUNT(*)
    FROM fpv_correos A
    INNER JOIN trabajadores_grales B
        ON A.compania = B.compania
            AND A.trabajador = B.trabajador
    WHERE sit_trabajador = 2

    SELECT @html = '<head> <title></title> <style type="text/css">.style10 { width: 153px; text-align: center;  } .style12 { color: #800000;text-decoration: underline;  }  </style></head>' + N'<body><H1  style="font-family: ''Trebuchet MS''; font-size: medium; font-weight: bold; font-style: normal; color: #993300">' + @saludos + '</H1>' + N'<b></b> ' + N'<p> ' + @msg + '</p> ' + N'<br/><br /><br/>  ' + N'<H1  style="font-family: ''Trebuchet MS''; font-size: medium; font-weight: bold; font-style: normal; color: #0000FF">Reporte De trabajadores que tienen en la empresa de baja correo</H1>' + N'<H1  style="font-family: ''Trebuchet MS''; font-size: medium; font-weight: bold; font-style: normal; color: #0000FF"> Fecha: ' + convert(VARCHAR(12), GETDATE(), 103) + '</H1>' + N'<table bgcolor="#ffffff" width = "1000" border="1" >' + N'<tr align="left" ><th  align="left" width: "400" >Compañia</th><th  align="left" width: "300" >Clase de Nomina</th><th width:"300" >CCO</th>' + N'<th  align="left"  width: "100" > Trabajador</th>' + 
        N'<th  align="left"  width: "400" > Nombre</th>' + N'<th  align="left"  width: "400" > Fecha Baja</th>' + ISNULL(cast((
                SELECT td = A.Compania + ' ' + A.Compania_Desc
                    , ''
                    , td = A.Clase_nomina + ' ' + A.Desc_Clase_Nomina
                    , ''
                    , td = A.CCO + ' ' + A.Desc_CCO
                    , ''
                    , td = A.trabajador
                    , ''
                    , td = A.nombre
                    , ''
                    , td = convert(VARCHAR(10), fecha_baja, 103)
                    , ''
                FROM fpv_correos A
                INNER JOIN trabajadores_grales B
                    ON A.compania = B.compania
                        AND A.trabajador = B.trabajador
                WHERE sit_trabajador = 2
                ORDER BY A.nombre ASC
                FOR XML PATH('tr')
                    , TYPE
                ) AS VARCHAR(max)), '') + N'</table> <br/> <div><a href="https://nomina.kfc.com.ec/KFCReporteador/vacaciones/AvisosVacaciones.aspx?A1=28" target="_blank">Ver Informe</a>
      <br><label>Atentamente,</label><br><br><label><strong>Departamento de Nómina</strong></label></div>  </body>';

    SELECT @query1 = 'select A.Compania, A.Compania_Desc, A.Clase_nomina, A.Desc_Clase_Nomina, A.CCO, A.Desc_CCO, A.trabajador, A.nombre,convert(varchar(10), fecha_baja, 103) 
		                  from Adam.dbo.fpv_correos A inner join Adam.dbo.trabajadores_grales B
                         on A.compania = B.compania and A.trabajador = B.trabajador where sit_trabajador = 2 '

    --Envio siempre (Reporteria)
    EXEC msdb.dbo.Sp_send_dbmail @profile_name = 'Informacion_Nomina'
        , @Subject = @asunto
        , @recipients = @correo
        , @body_format = 'html'
        , @body = @html;

    --Insert en notificaciones consolidadas

    INSERT INTO DB_NOMKFC.Avisos.notificacionesConsolidadas (estado, origen, spOrigen, asunto, descripcionHtml, destinatarios, descripcion, prioridad, categoria, mensajeError)

    VALUES ('A', 'Mail_PMail', 'pa_aviso_CorreosProblemas', @asunto, @html, @correo, 'Reporteria', 'Alta', 'JERARQUIAS', NULL);

    ---------------Correos sin formato correcto
    DELETE @tablaCorreos

    INSERT INTO @tablaCorreos
    SELECT Compania
        , Clase_Nomina
        , Trabajador
        , Nombre
        , ''
    FROM fpv_correos
    WHERE dbo.fn_validamail([direcciones de correo]) = 'Malo'

    SELECT @html = '<head><title>Reporte Correos en mas de un trabajador</title></head>' + N'<body><H1 style="font-family: ''Trebuchet MS''; font-size: medium; font-weight: bold; font-style: normal; color: #993300">Buenos dias</H1>' + N'<p>Le adjuntamos un listado de los trabajadores que tienen un correo sin formato</p>' + N'<H1 style="font-family: ''Trebuchet MS''; font-size: medium; font-weight: bold; font-style: normal; color: #0000FF">Reporte Correos en mas de un trabajador</H1>' + N'<div><a href="https://nomina.kfc.com.ec/KFCReporteador/vacaciones/AvisosVacaciones.aspx?A1=29" target="_blank">Ver Informe</a><br/><br/><label>Atentamente,</label><br><br><label><strong>Departamento de Nomina</strong></label></div></body>'

    SET @asunto = 'Reporte Correos en más de un trabajador'
    SET @msg = 'Le adjuntamos un listado de los trabajadores que tienen un correo sin formato'
    SET @saludos = 'Buenos dias'

    SELECT @e = COUNT(*)
    FROM @tablaCorreos

    IF @e > 0
    BEGIN
        -- delete fpv_tempAvisoCorreo
        INSERT INTO fpv_tempAvisoCorreo (
            compania
            , cadena
            , trabajador
            , nombre
            , correo
            , tipo
            )
        SELECT compania
            , cadena
            , trabajador
            , nombre
            , correo
            , 2
        FROM @tablaCorreos

        SELECT @html = '<head> <title></title> <style type="text/css">.style10 { width: 153px; text-align: center;  } .style12 { color: #800000;text-decoration: underline;  }  </style></head>' + N'<body><H1  style="font-family: ''Trebuchet MS''; font-size: medium; font-weight: bold; font-style: normal; color: #993300">' + @saludos + '</H1>' + N'<b></b> ' + N'<p> ' + @msg + '</p> ' + N'<br/><br /><br/>  ' + N'<H1  style="font-family: ''Trebuchet MS''; font-size: medium; font-weight: bold; font-style: normal; color: #0000FF">Reporte Correos en mas de un trabajador</H1>' + N'<H1  style="font-family: ''Trebuchet MS''; font-size: medium; font-weight: bold; font-style: normal; color: #0000FF"> Fecha: ' + convert(VARCHAR(12), GETDATE(), 103) + '</H1>' + N'<table bgcolor="#ffffff" width = "1000" border="1" >' + N'<tr align="left" ><th  align="left" width: "400" >Compañia</th><th  align="left" width: "300" >Clase de Nomina</th> ' + N'<th  align="left"  width: "100" > Trabajador</th>' + N'<th  align="left"  width: "400" > Nombre</th>' + 
            N'<th  align="left"  width: "400" >Correo</th>' + cast((
                    SELECT td = Compania
                        , ''
                        , td = cadena
                        , ''
                        , td = trabajador
                        , ''
                        , td = nombre
                        , ''
                        , td = correo
                        , ''
                    FROM @tablaCorreos
                    ORDER BY trabajador ASC
                    FOR XML PATH('tr')
                        , TYPE
                    ) AS VARCHAR(max)) + N'</table> <br/> <br/> <div><a href="https://nomina.kfc.com.ec/KFCReporteador/vacaciones/AvisosVacaciones.aspx?A1=29" target="_blank">Ver Informe</a>
      <br><label>Atentamente,</label><br><br><label><strong>Departamento de Nómina</strong></label></div>  </body>';

    END

    --Envio siempre (Reporteria)
    EXEC msdb.dbo.Sp_send_dbmail @profile_name = 'Informacion_Nomina'
        , @Subject = @asunto
        , @recipients = @correo
        , @body_format = 'html'
        , @body = @html
        , @copy_recipients = @correoCC;

    --Insert en notificaciones consolidadas

    INSERT INTO DB_NOMKFC.Avisos.notificacionesConsolidadas (estado, origen, spOrigen, asunto, descripcionHtml, destinatarios, descripcion, prioridad, categoria, mensajeError)

    VALUES ('A', 'Mail_PMail', 'pa_aviso_CorreosProblemas', @asunto, @html, @correo, 'Reporteria', 'Alta', 'JERARQUIAS', NULL);
    END TRY
    BEGIN CATCH
        --Insert en notificaciones consolidadas
        INSERT INTO DB_NOMKFC.Avisos.notificacionesConsolidadas (estado, origen, spOrigen, asunto, descripcionHtml, destinatarios, descripcion, prioridad, categoria, mensajeError)
        VALUES ('E', 'Mail_PMail', 'pa_aviso_CorreosProblemas', ISNULL(@asunto, 'Aviso Correos Problemas'), NULL, ISNULL(@correo, 'paola.cusicondor@kfc.com.ec'), 'Error Proceso', 'Alta', 'JERARQUIAS', ERROR_MESSAGE());
    END CATCH
END
