USE [ADAM]
GO
/****** Object:  StoredProcedure [dbo].[pa_aviso_vac_E01]    Script Date: 9/6/2026 14:44:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
  -- Author:      Katerin Carrillo
  -- Modify date: 09/06/2026
  -- Description: Correccion de bug en el control de flujo del aviso E-1.
  --              El conteo de trabajadores con error (detalle registrado vs.
  --              cabecera) se calculaba en la variable @w, pero el IF/ELSE
  --              evaluaba @x (declarada en 0 y nunca reasignada). Por eso el
  --              cursor que llena Adam.dbo.fpv_tmp_avisos_vac nunca se ejecutaba
  --              y el reporte A1=13 salia vacio aunque el correo mostrara conteo.
  --              Se reemplaza @x por @w en las dos comparaciones (IF @w>0 /
  --              ELSE IF @w=0) para usar la variable que contiene el conteo real.
  -- =============================================

ALTER procedure [dbo].[pa_aviso_vac_E01]
AS
declare
@w int ,
@trabajador char(10),
@compania char(2),
@ciclo char(8),
@cantProg int=0,
@cantProgramadas int = 0,
@correo varchar(1000), 
@saludos varchar(100),
@mensaje varchar(300),
@html varchar(4000),
@correoCC varchar(1000),
@asunto varchar(250),
@query1 varchar(max),
@fecha datetime, 
@dia smallint,
@mes smallint,
@anio smallint,
@x smallint=0,
@i smallint=0,
@b smallint=0,
@cantDisfrutadas int =0

BEGIN

select @i= count(*) from adam.dbo.FPV_Parametros where Parametro ='Mail_AvVac'

  if @i> 1 
   begin
     
     select @correo = adam.dbo.fn_correosVariosRemitentes('Mail_AvVac')
   end
   
   
  else
   begin 
    select @correo = Valor from adam.dbo.FPV_Parametros where Parametro ='Mail_AvVac'
 
   end
 
 
 select @b= count(*) from adam.dbo.FPV_Parametros where Parametro = 'Mail_VacCC'
 
 if @b> 1 
   begin
     
     select  @correoCC  = adam.dbo.fn_correosVariosRemitentes('Mail_VacCC')
   end
   
   
  else
   begin 
    select @correoCC = Valor from FPV_Parametros where Parametro ='Mail_VacCC'
 
   end
  



delete Adam.dbo.fpv_tmp_avisos_vac


set @fecha= GETDATE()
set @dia = datepart(day,@fecha)
set @mes = datepart(month,@fecha)
set @anio = datepart(year,@fecha)


set @saludos = 'Buenos Dias' 

--select *
--   from Adam.dbo.programacion_vacaciones as P inner join Adam.dbo.trabajadores_grales as T  
--   on P.trabajador = T.trabajador  and P.compania = T.compania  
--   inner join Adam.dbo.saldos_vacaciones V   
--   on P.ciclo_laboral = V.ciclo_laboral and P.trabajador = V.trabajador  and P.compania = V.compania  
--   where situacion_programa  = 1 and tiempo_prog_vac <> vac_programadas  
--  and T.sit_trabajador = 1  
--   and V.vac_disfrutadas > 0 

   select @w = COUNT(*)  from Adam.dbo.programacion_vacaciones as P inner join Adam.dbo.trabajadores_grales as T  
   on P.trabajador = T.trabajador  and P.compania = T.compania  
   inner join Adam.dbo.saldos_vacaciones V   
   on P.ciclo_laboral = V.ciclo_laboral and P.trabajador = V.trabajador  and P.compania = V.compania  
   where situacion_programa  = 1 and tiempo_prog_vac <> vac_programadas  
   and T.sit_trabajador = 1  and V.vac_disfrutadas > 0 


   if @w>0
   begin

  Declare  CE1 Cursor local For                          
  select  P.ciclo_laboral, P.trabajador, P.compania
   from Adam.dbo.programacion_vacaciones as P inner join Adam.dbo.trabajadores_grales as T  
   on P.trabajador = T.trabajador  and P.compania = T.compania  
   inner join Adam.dbo.saldos_vacaciones V   
   on P.ciclo_laboral = V.ciclo_laboral and P.trabajador = V.trabajador  and P.compania = V.compania  
   where situacion_programa  = 1 and tiempo_prog_vac <> vac_programadas  
   and T.sit_trabajador = 1 and V.vac_disfrutadas > 0 


Open CE1                    
                          
 While @@Fetch_Status < 1                          
  Begin                          
     Fetch CE1 Into  @ciclo, @trabajador, @compania                      
                          
     If @@Fetch_Status <> 0                           
        Begin                          
           Break                          
        End        
		

   select @cantProgramadas = sum(vac_programadas), @cantDisfrutadas = sum(vac_disfrutadas) from adam.dbo.saldos_vacaciones
   where trabajador =@trabajador and compania = @compania and ciclo_laboral = @ciclo
    
   select @cantProg = SUM(tiempo_prog_vac) from adam.dbo.programacion_vacaciones
   where trabajador =@trabajador and compania = @compania and ciclo_laboral = @ciclo 
   and situacion_programa = 1

   if @cantProg <>@cantProgramadas
   begin
     Insert into Adam.dbo.fpv_tmp_avisos_vac 
     select T.compania,T.clase_nomina, T.trabajador, T.fecha_antiguedad,T.fecha_ingreso, 
      P.ciclo_Laboral,P.tiempo_prog_vac, P.situacion_programa, V.vac_disfrutadas, V.vac_programadas,  
      V.vac_por_ciclo , 'E01' from Adam.dbo.programacion_vacaciones as P inner join Adam.dbo.trabajadores_grales as T  
     on P.trabajador = T.trabajador  and P.compania = T.compania  
     inner join Adam.dbo.saldos_vacaciones V  
     on P.ciclo_laboral = V.ciclo_laboral and P.trabajador = V.trabajador  and P.compania = V.compania  
      where situacion_programa  = 1 and tiempo_prog_vac <> vac_programadas  
      and T.sit_trabajador = 1  and V.vac_disfrutadas > 0  
   end
   
                          
end                          
  Close      CE1                     
  Deallocate  CE1
  
  
  
    select @query1 = ' select distinct compania,clase_nomina, trabajador, fecha_antiguedad,fecha_ingreso, ' +
                 ' ciclo_Laboral, tiempo_prog_vac, situacion_programa, vac_disfrutadas, vac_programadas, ' +
                 ' vac_por_ciclo  from  Adam.dbo.fpv_tmp_avisos_vac  '


    Set @asunto = 'Punto E-1: Trabajadores que tienen en el detalle las vacaciones como registradas y en la cabecera sale como disfrutadas'

    set @mensaje = 'Se adjunta listado en formato csv de trabajadores con este problema. Pueden abrir con Excel, el separador de columnas es la coma(,).'

	select @html = '<head> <title></title> <style type="text/css">.style10 { width: 153px; text-align: center;  } .style12 { color: #800000;text-decoration: underline;  }  </style></head>' +
		N'<body><H1  style="font-family: ''Trebuchet MS''; font-size: medium; font-weight: bold; font-style: normal; color: #993300">'+@saludos+'</H1>' +
		N'<b></b> '+
		N'<p> '+ @mensaje+ '</p> '+
	    N'<div><p><a href="https://nomina.kfc.com.ec/KFCReporteador/vacaciones/AvisosVacaciones.aspx?A1=13" target="_blank">Ver Informe</a></p><br><label>Atentamente,</label><br><br><label><strong>Departamento de Nómina</strong></label></div> </body>'  ;

		 


	
   exec msdb.dbo.Sp_send_dbmail
   @profile_name = 'Informacion_Nomina', 
    @Subject = @asunto,
    @recipients = @correo	,
    @body_format= 'html',
    @body = @html  ,
    --@query = @query1 ,
    --@query_result_separator=',',
    @copy_recipients = @correoCC;
   -- @query_attachment_filename = 'Registradas.csv',
   -- @attach_query_result_as_file = 1 ; 	
----insertar registro de envio
   Exec sp_fpv_inserta_avisos_vacaciones 'PTO_E_Registradas',@mensaje, '', @dia,@mes,@anio, '',@fecha, null,null,null,@correo


	End
	else if @w=0 
	begin
      set @asunto= 'Punto E-1: Trabajadores que tienen en el detalle las vacaciones como registrados y en la cabecera sale como disfrutadas' 
    
	 exec msdb.dbo.Sp_send_dbmail
	    @profile_name = 'Informacion_Nomina', 
		@Subject = @asunto,
		@recipients = @correo	,
		@body_format= 'html',
		@body = 'No se encontraron registros con problemas en Registradas'  , 
		@query_result_separator=',',
		@copy_recipients = @correoCC ; 
	end



	
delete Adam.dbo.fpv_tmp_avisos_vac

END