USE [DB_NOMKFC]
GO
/****** Object:  StoredProcedure [RRHH].[pa_Avisos_Prebaja]    Script Date: 28/5/2026 17:55:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER proc [RRHH].[pa_Avisos_Prebaja]
-- =============================================
-- Author:          <Carlucci, Luis>
-- Create date: <25/12,2018>
-- Description:     <Envia correo con las prebajas del dia anterior >
-- =============================================

as

begin
BEGIN TRY

declare @html varchar(max)='',
@asunto varchar (400),
@saludos varchar(500)='',
@msg varchar (500)='',
@correo varchar(max)

--select * from adam.dbo.vw_datos_trabajador_nomina where fecha_bajaindice=  dateadd(day,-45, cast(getdate() as date))

--if ((select count(trabajador) from adam.dbo.vw_datos_trabajador_nomina where fecha_bajaindice=  dateadd(day,-1, cast(getdate() as date)))>0)
if ((select count(trabajador) from adam.dbo.Indices_FPV_BajasCalculo where convert(date,Referencia_03) = convert(date,dateadd(day,-1,getdate())) and Causa_Baja not in ('08','22'))>0)

begin

select @asunto=descripcion , @saludos=valor, @msg=referencia_06  from configuracion.parametros where parametro='MailPrebAviso'

set @msg=replace(@msg,'@fecha',convert(varchar(12),dateadd(day,-1,GETDATE()),103))

select @correo=  Configuracion.fn_correosVariosRemitentes ('RecibNotPrebaja')
--valor from configuracion.parametros where parametro='RecibNotPrebaja'

set @correo=replace(@correo,'ñ','n')
select @html='<head> <title></title>'+
	N' <style type="text/css"> #box-table { font-family: "Calibri"; font-size: 10px; text-align: center; border-collapse: collapse; border-top: 1px solid black; border-bottom: 1px solid black; } #box-table th { font-size: 10px; font-weight: normal; font-style: bold; background: black; border-right: 1px solid black; border-left: 1px solid black; border-bottom: 1px solid black; color: white; } #box-table td { border-right: 1px solid gray; border-left: 1px solid gray; border-bottom: 1px solid gray; color: black; } tr:nth-child(odd)   { background-color:#eee; } tr:nth-child(even)  { background-color:#fff; } th, td { padding: 4px; text-align: left;}</style> </head>'+
	N' </head>'+
    N' <body>'+
    N' <p  style="font-family: Calibri; color:black; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; line-height: auto;">'+@saludos+'</p>'+
    N' <b></n>'+
    N' <p style="font-family: Calibri; color:black; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; line-height: auto;"> '+@msg+'</p> '+
    N' <br/>'+
    -- N' <H1  style="font-family: Calibri; color:black; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; line-height: auto;">Notificaci&#243;n de Trabajadores con Pre-baja generada el día '+ convert(varchar(12),dateadd(day,-1,GETDATE()),103)+' </H1>'+
    --N' <H1  style="font-family: Calibri; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; line-height: auto;"> Fecha: '+convert(varchar(12),GETDATE(),103)+'</H1>'+
    N'<table id="box-table" >' +
    N' <tr align="left">'+   
	N' <th align="left"> Cod Compañía</th>'+
    N' <th align="left"> Compañía</th>'+
    N' <th align="left"> Cod Cadena</th>'+
    N' <th align="left"> Cadena</th>'+
  	N' <th align="left">Cod CCO</th>'+
    N' <th align="left"> CCO</th>'+
	N' <th align="left">Cédula</th>'+
    N' <th align="left">Nombre</th>'+
    N' <th align="left"> Fecha Baja</th>'+
    N'<th align="left">Cargo</th>'+
	
cast( (select   distinct 
			td= f.Compania,'',
			td= Compania_Desc,'',
			td= Clase_Nomina,'',
			td= Desc_Clase_Nomina,'',
			td= f.CCO,'',
			td= Desc_CCO,'',
			td= F.Trabajador, '',
			td= f.Nombre,'',			  
			td= convert(nvarchar,fecha_bajaindice,103), '',
			td= vw.cargo,''
 from  adam.dbo.Indices_FPV_BajasCalculo F
 inner join rrhh.vw_datosTrabajadores  vw on F.Trabajador= vw.Trabajador and F.Compania=vw.Compania and (Fecha_bajaIndice=F.Fecha_Baja or vw.Fecha_baja=F.Fecha_Baja)
 where convert(date,Referencia_03) = convert(date,dateadd(day,-1,getdate()))  
  --and (fecha_bajaindice is not null or vw.Fecha_baja is not null)--dateadd(day,-1, cast(getdate() as date))
 and f.Causa_Baja  not in ('08','22')
  order by F.Compania, Clase_Nomina, F.Nombre
FOR XML PATH('tr'),TYPE
) as varchar(max))+
    N'</table>'+
	N'<p style="font-family: Calibri; color:black; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400;"> Atentamente </p>'+
    N'<p style="font-family: Calibri; color:black; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400;  ">Recursos Humanos-N&#243;mina</p>'+
    N' <br/><br /><br/><br/>  </body>'  ;


	if @html is not null
	begin
		--Insert en notificaciones consolidadas
		INSERT INTO Avisos.notificacionesConsolidadas (estado, origen, spOrigen, asunto, descripcionHtml, destinatarios, periodoInicio, periodoFin, descripcion, prioridad, categoria, mensajeError)
		VALUES ('A', 'MailPrebAviso', 'pa_Avisos_Prebaja', @asunto, @html, @correo, NULL, NULL, 'Con novedad', 'Media', 'BAJAS', NULL);
	 EXEC dbo.pa_enviar_correo_general
				@Modulo   = 'AvisoPreBajas',
				@To       = @correo, 
				@Asunto   = @asunto,
				@Mensaje  = @html;

	 --exec msdb.dbo.Sp_send_dbmail
  --   @profile_name = 'Informacion_Nomina',  
  --   @Subject = @asunto,
  --   @recipients = @correo,
  --   @body_format= 'html',
  --   @body = @html 
 end

end 

END TRY
BEGIN CATCH
	--Insert en notificaciones consolidadas
	INSERT INTO Avisos.notificacionesConsolidadas (estado, origen, spOrigen, asunto, descripcionHtml, destinatarios, periodoInicio, periodoFin, descripcion, prioridad, categoria, mensajeError)
	VALUES ('E', 'MailPrebAviso', 'pa_Avisos_Prebaja', 'Avisos Pre-Baja', NULL, NULL, NULL, NULL, 'Error Proceso', 'Media', 'BAJAS', ERROR_MESSAGE());
END CATCH

End
 