USE [DB_NOMKFC]
GO
/****** Object:  StoredProcedure [Configuracion].[pa_correo_problemasEquipo]    Script Date: 29/5/2026 11:44:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [Configuracion].[pa_correo_problemasEquipo]
AS
BEGIN
    BEGIN TRY
    DECLARE @html VARCHAR(8000)
        , @asunto VARCHAR(150)
        , @correo VARCHAR(1500)
        , @i INT = 0
        , @sql VARCHAR(max)

    --set @correo  = 'sabrina.chinchin@kfc.com.ec'
    ----------------------------------------------------------------------------------------
    ---Equipos con poca bateria
    ---------------------------------------------------------------------------------------
    SELECT @i = count(*)
    FROM Configuracion.estadoEquiposTiendas
    WHERE fecha = convert(DATE, GETDATE())
        AND hora = (
            SELECT max(hora)
            FROM Configuracion.estadoEquiposTiendas
            WHERE fecha = convert(DATE, GETDATE())
            )
        AND convert(DECIMAL(12, 2), bateria) BETWEEN 5 AND 15

    IF @i > 0
    BEGIN
        SET @html = '<div><p>Problemas equipos , presione el link para ver el informe (@problema)</p><a href="https://nomina.kfc.com.ec/KFCReporteador/vacaciones/AvisosVacaciones.aspx?A1=29" target="_blank">Ver Informe</a>
      <br><label>Atentamente,</label><br><br><label><strong>Departamento de Nómina</strong></label></div>'

        SELECT @html = referencia_06
        FROM configuracion.parametros
        WHERE parametro = 'Mail_Equipos'

        SELECT @correo = valor
        FROM configuracion.parametros
        WHERE parametro = 'MailEBat'

        --SELECT @sql = ' Select fecha ,hora  ,bateria, tienda FROM DB_nomkfc.Configuracion.estadoEquiposTiendas
        -- where fecha = convert(date, GETDATE()) and hora = (select max(hora) from  DB_nomkfc.Configuracion.estadoEquiposTiendas where  fecha = convert(date, GETDATE()))
        -- and convert(decimal(12,2),bateria) between 5  and 15 '
        SET @html = REPLACE(@html, '@problema', 'Batería muy baja')

        --Insert en notificaciones consolidadas
        INSERT INTO Avisos.notificacionesConsolidadas (estado, origen, spOrigen, asunto, descripcionHtml, destinatarios, periodoInicio, periodoFin, descripcion, prioridad, categoria, mensajeError)
        VALUES ('A', 'Mail_Equipos/MailEBat/MailEMem/MailEPCCOE', 'pa_correo_problemasEquipo', 'Equipos con problemas de Batería', @html, @correo, NULL, NULL, 'Con novedad', 'Alta', 'BIOMETRICO', NULL);
        EXEC msdb.dbo.Sp_send_dbmail @profile_name = 'Informacion_Nomina'
            , @Subject = 'Equipos con problemas de Batería'
            , @recipients = @correo
            , @body_format = 'html'
            , @body = @html;
    END
    ELSE
    BEGIN
        --Insert en notificaciones consolidadas
        INSERT INTO Avisos.notificacionesConsolidadas (estado, origen, spOrigen, asunto, descripcionHtml, destinatarios, periodoInicio, periodoFin, descripcion, prioridad, categoria, mensajeError)
        VALUES ('C', 'Mail_Equipos/MailEBat/MailEMem/MailEPCCOE', 'pa_correo_problemasEquipo', 'Equipos con problemas de Batería', '<p>No existen problemas de Batería</p>', 'sabrina.chinchin@kfc.com.ec', NULL, NULL, 'Sin novedad', 'Alta', 'BIOMETRICO', NULL);
        EXEC msdb.dbo.Sp_send_dbmail @profile_name = 'Informacion_Nomina'
            , @Subject = 'Equipos con problemas de Batería (Sin problemas)'
            , @recipients = 'sabrina.chinchin@kfc.com.ec'
            , @body_format = 'html'
            , @body = '<p>No existen problemas de Batería</p>';
    END

    ----------------------------------------------------------------------------------------
    ---Equipos con poca memoria
    ---------------------------------------------------------------------------------------
    SET @i = 0

    SELECT @i = count(*)
    FROM Configuracion.estadoEquiposTiendas
    WHERE fecha = convert(DATE, GETDATE())
        AND hora = (
            SELECT max(hora)
            FROM Configuracion.estadoEquiposTiendas
            WHERE fecha = convert(DATE, GETDATE())
            )
        AND convert(DECIMAL(12, 2), memoria) BETWEEN 400 AND 520

    IF @i > 0
    BEGIN
        SET @html = ''

        SELECT @html = referencia_06
        FROM configuracion.parametros
        WHERE parametro = 'Mail_Equipos'

        SELECT @correo = valor
        FROM configuracion.parametros
        WHERE parametro = 'MailEMem'

        SELECT @sql = ' Select fecha ,hora  ,memoria ,tienda FROM DB_nomkfc.Configuracion.estadoEquiposTiendas
	  where fecha = convert(date, GETDATE()) and hora = (select max(hora) from  DB_nomkfc.Configuracion.estadoEquiposTiendas where  fecha = convert(date, GETDATE()))
	  and convert(decimal(12,2),memoria) between 450 and 520 '

        SET @html = REPLACE(@html, '@problema', 'Memoria muy baja')
        SET @html = REPLACE(@html, '@tipo', '31')

        --Insert en notificaciones consolidadas
        INSERT INTO Avisos.notificacionesConsolidadas (estado, origen, spOrigen, asunto, descripcionHtml, destinatarios, periodoInicio, periodoFin, descripcion, prioridad, categoria, mensajeError)
        VALUES ('A', 'Mail_Equipos/MailEBat/MailEMem/MailEPCCOE', 'pa_correo_problemasEquipo', 'Equipos con problemas de Memoria', @html, @correo, NULL, NULL, 'Con novedad', 'Alta', 'BIOMETRICO', NULL);
        EXEC msdb.dbo.Sp_send_dbmail @profile_name = 'Informacion_Nomina'
            , @Subject = 'Equipos con problemas de Memoria'
            , @recipients = @correo
            , @body_format = 'html'
            , @body = @html;
    END
    ELSE
    BEGIN
        --Insert en notificaciones consolidadas
        INSERT INTO Avisos.notificacionesConsolidadas (estado, origen, spOrigen, asunto, descripcionHtml, destinatarios, periodoInicio, periodoFin, descripcion, prioridad, categoria, mensajeError)
        VALUES ('C', 'Mail_Equipos/MailEBat/MailEMem/MailEPCCOE', 'pa_correo_problemasEquipo', 'Equipos con problemas de Memoria', '<p>No existen problemas de memoria</p>', 'sabrina.chinchin@kfc.com.ec', NULL, NULL, 'Sin novedad', 'Alta', 'BIOMETRICO', NULL);
        EXEC msdb.dbo.Sp_send_dbmail @profile_name = 'Informacion_Nomina'
            , @Subject = 'Equipos con problemas de Memoria (Sin problemas)'
            , @recipients = 'sabrina.chinchin@kfc.com.ec'
            , @body_format = 'html'
            , @body = '<p>No existen problemas de memoria</p>';
    END

    ----------------------------------------------------------------------------------------
    ---Equipos sin CCO de nomina asignado NULL
    ---------------------------------------------------------------------------------------
    SET @i = 0

    SELECT @i = count(*)
    FROM Configuracion.estadoEquiposTiendas
    WHERE fecha = convert(DATE, GETDATE())
        AND hora = (
            SELECT max(hora)
            FROM Configuracion.estadoEquiposTiendas
            WHERE fecha = convert(DATE, GETDATE())
            )
        AND cco IS NULL

    IF @i > 0
    BEGIN
        SET @html = ''

        SELECT @html = referencia_06
        FROM configuracion.parametros
        WHERE parametro = 'Mail_Equipos'

        SELECT @correo = valor
        FROM configuracion.parametros
        WHERE parametro = 'MailEPCCOE'

        SELECT @sql = ' Select fecha,hora,tienda FROM DB_nomkfc.Configuracion.estadoEquiposTiendas
	  where fecha = convert(date, GETDATE()) and hora = (select max(hora) from 
	  DB_nomkfc.Configuracion.estadoEquiposTiendas where  fecha = convert(date, GETDATE()))  and cco is null '

        SET @html = REPLACE(@html, '@problema', 'Sin CCO Nómina')
        SET @html = REPLACE(@html, '@tipo', '32')

        --Insert en notificaciones consolidadas
        INSERT INTO Avisos.notificacionesConsolidadas (estado, origen, spOrigen, asunto, descripcionHtml, destinatarios, periodoInicio, periodoFin, descripcion, prioridad, categoria, mensajeError)
        VALUES ('A', 'Mail_Equipos/MailEBat/MailEMem/MailEPCCOE', 'pa_correo_problemasEquipo', 'Equipos sin CCO Nómina asignado', @html, @correo, NULL, NULL, 'Con novedad', 'Alta', 'BIOMETRICO', NULL);
        EXEC msdb.dbo.Sp_send_dbmail @profile_name = 'Informacion_Nomina'
            , @Subject = 'Equipos sin CCO Nómina asignado'
            , @recipients = @correo
            , @body_format = 'html' 
            ,@body = @html;
    END
    ELSE
    BEGIN
        --Insert en notificaciones consolidadas
        INSERT INTO Avisos.notificacionesConsolidadas (estado, origen, spOrigen, asunto, descripcionHtml, destinatarios, periodoInicio, periodoFin, descripcion, prioridad, categoria, mensajeError)
        VALUES ('C', 'Mail_Equipos/MailEBat/MailEMem/MailEPCCOE', 'pa_correo_problemasEquipo', 'Equipos sin CCO Nómina asignado', '<p>No existen problemas de CCO mas asignado</p>', 'sabrina.chinchin@kfc.com.ec', NULL, NULL, 'Sin novedad', 'Alta', 'BIOMETRICO', NULL);
        EXEC msdb.dbo.Sp_send_dbmail @profile_name = 'Informacion_Nomina'
            , @Subject = 'Equipos sin CCO Nómina asignado (Sin problemas)'
            , @recipients = 'sabrina.chinchin@kfc.com.ec'
            , @body_format = 'html'
            , @body = '<p>No existen problemas de CCO mas asignado</p>';
    END
    END TRY
    BEGIN CATCH
        --Insert en notificaciones consolidadas
        INSERT INTO Avisos.notificacionesConsolidadas (estado, origen, spOrigen, asunto, descripcionHtml, destinatarios, periodoInicio, periodoFin, descripcion, prioridad, categoria, mensajeError)
        VALUES ('E', 'Mail_Equipos/MailEBat/MailEMem/MailEPCCOE', 'pa_correo_problemasEquipo', 'Equipos con problemas de Equipo', NULL, 'sabrina.chinchin@kfc.com.ec', NULL, NULL, 'Error Proceso', 'Alta', 'BIOMETRICO', ERROR_MESSAGE());
    END CATCH
END