USE [DB_NOMKFC]
GO
/****** Object:  StoredProcedure [Cargas].[pa_datos_aviso_NoLegalizadas]    Script Date: 29/5/2026 16:18:55 ******/
-- =============================================
-- Author:		Katerin Carrillo
-- Create date: 29/05/2026
-- Description:	Se inserta los datos en la tabla notificacionesConsolidadas
-- =============================================
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER  procedure [Cargas].[pa_datos_aviso_NoLegalizadas]
 AS
declare  
@tableHTML nvarchar(max),
@nombre varchar(100),
@cuerpo nvarchar(max) ,
@Dirigido varchar(2800),
@copia varchar(2800) 
 
BEGIN TRY
 Begin
 
 set @nombre = 'Dpto Nómina'

 select top 1  @Dirigido = valor from  Configuracion.parametros where parametro = 'MailAVICFNL' 
  
 set @copia = 'sabrina.chinchin@kfc.com.ec'
   
  select @tableHTML='<head>'+
	N' <style type="text/css"> #box-table { font-family: "Calibri"; font-size: 10px; text-align: center; border-collapse: collapse; border-top: 1px solid black; border-bottom: 1px solid black; } #box-table th { font-size: 10px; font-weight: normal; font-style: bold; background: black; border-right: 1px solid black; border-left: 1px solid black; border-bottom: 1px solid black; color: white; } #box-table td { border-right: 1px solid gray; border-left: 1px solid gray; border-bottom: 1px solid gray; color: black; } tr:nth-child(odd)   { background-color:#eee; } tr:nth-child(even)  { background-color:#fff; } th, td { padding: 4px; text-align: left;}</style> </head>'+
	N' </head>'+
    N' <body>'+
    N' <p  style="font-family: Calibri; color:black; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; line-height: auto;"> Estimadas(os) , '+ @nombre+'</p>'+
    --N' <b></n>'+
    N' <p style="font-family: Calibri; color:black; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; line-height: auto;">  <h4>Listado de Cargas sin Legalizar </h4> </p> '+
   
    N'<table id="box-table" >' +
    N' <tr align="left">'+  
	N' <th align="center">ID</th>'+
	N' <th align="center"> Cédula</th>'+
    N' <th align="left"> Parentesco</th>'+
    N' <th align="left"> Nombres</th>'+
    N' <th align="left"> Apellidos</th>'+
  	N' <th align="left"> Discapacitado</th>'+
    N' <th align="center"> Estado</th>' +
  cast(  (	SELECT  td = ROW_NUMBER() OVER(ORDER BY codigo), '',
   td = left(FP.codigo,10), '',
   td =TCF.descripcion, '',
   td = FP.nombre, '',
   td = FP.apellido, '',
   td = FP.posee_discapacidad, '',
   td =  case when  estado  = 2 then 'Legalizado' when  estado = 1 then 'Rechazado' when  estado = 0 then 'Por Aprobar' when  estado = 4 then 'Creado' when  estado = 5 then 'Inactivo'  end  ,   ''  
   FROM  Cargas.familiares_personas FP
        INNER JOIN  Cargas.Tipo_CargasFamiliares TCF ON FP.id_TipoCarga = TCF.id_TipoCarga
    WHERE   estado<> 2
 ORDER BY  FP.codigo
  FOR XML PATH('tr'), TYPE 
    ) AS varchar(max)) +
    N'</table>' +
	N' <br/>' 
	 
	Set @tableHTML= Replace(@tableHTML, '<td>', '<td><small>') 
    Set @tableHTML = Replace(@tableHTML, '</td>', '</small></td>') 
  
   
  select @cuerpo = @tableHTML 
  
  	--Insert en notificaciones consolidadas
  	INSERT INTO Avisos.notificacionesConsolidadas (estado, origen, spOrigen, asunto, descripcionHtml, destinatarios, periodoInicio, periodoFin, descripcion, prioridad, categoria, mensajeError)
  	VALUES ('A', 'MailAVICFNL', 'pa_datos_aviso_NoLegalizadas', 'Reporte Cargas no Legalizadas', @cuerpo, @Dirigido, NULL, NULL, 'Con novedad', 'Alta', 'CARGAS FAMILIARES', NULL);

  exec msdb.dbo.Sp_send_dbmail
     @profile_name = 'Informacion_Nomina',  
     @Subject = 'Reporte Cargas no Legalizadas',
     @recipients = @dirigido,
     @body_format= 'html',
	 @copy_recipients = @copia,
     @body = @cuerpo 
end
END TRY
BEGIN CATCH
	--Insert en notificaciones consolidadas
	INSERT INTO Avisos.notificacionesConsolidadas (estado, origen, spOrigen, asunto, descripcionHtml, destinatarios, periodoInicio, periodoFin, descripcion, prioridad, categoria, mensajeError)
	VALUES ('E', 'MailAVICFNL', 'pa_datos_aviso_NoLegalizadas', 'Reporte Cargas no Legalizadas', NULL, @Dirigido, NULL, NULL, 'Error Proceso', 'Alta', 'CARGAS FAMILIARES', ERROR_MESSAGE());
END CATCH 