USE [DB_NOMKFC]
GO
/****** Object:  StoredProcedure [Asistencia].[pa_enviar_permisos_ausencias_pendientes]    Script Date: 1/6/2026 17:25:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [Asistencia].[pa_enviar_permisos_ausencias_pendientes]
AS
BEGIN
    SET NOCOUNT ON;
	SET DATEFIRST 1; 
	IF DATEPART(WEEKDAY, GETDATE()) IN (6, 7) 
	RETURN;

    DECLARE @cco VARCHAR(50), @descripcionCCO NVARCHAR(255), @Body NVARCHAR(MAX);
	declare @fechaHoy date  = getdate()
	DECLARE @correoCC_adicional NVARCHAR(MAX);
	 
    DECLARE cco_cursor CURSOR FOR
    SELECT DISTINCT pt.cco
    FROM  Asistencia.permisos_trabajadores pt
    LEFT JOIN  Ausencias.Accidentes a 
        ON pt.codigo = a.Codigo 
        AND CAST(pt.fecha_ini AS DATE) between  CAST(a.Fecha_Ini_Incapacidad AS DATE) and CAST(a.Fecha_Fin_Incapacidad AS DATE)
    WHERE pt.idPermiso = 12 and pt.estado <>5
        AND DATEDIFF(DAY, pt.fecha_creacion,@fechaHoy) > 1
        AND a.Codigo IS NULL;

	SELECT @correoCC_adicional = valor FROM Configuracion.parametros WHERE parametro = 'Mail_PER_CC';
    OPEN cco_cursor;
    FETCH NEXT FROM cco_cursor INTO @cco;
    DECLARE @correoConsolidado NVARCHAR(MAX);

    WHILE @@FETCH_STATUS = 0
    BEGIN
        SELECT @descripcionCCO = descripcion 
        FROM Catalogos.centro_costos
        WHERE cco = @cco;
        
        DECLARE @correo_lider NVARCHAR(MAX), @correo_jefe NVARCHAR(MAX), @correos_adicionales NVARCHAR(MAX), @correo_tienda NVARCHAR(MAX), @correo_especialista NVARCHAR(MAX), @correos NVARCHAR(MAX);

        SELECT @correo_lider = vw.correo_lider, 
               @correos_adicionales = Configuracion.fn_correosVariosRemitentesContactoTiendas(vw.clase_nomina),
			   @correo_tienda = vw.correo,
			   @correo_especialista = vw.especialistas,
               @correo_jefe = dt.correoEmpresa
        FROM Catalogos.VW_CCO vw
        LEFT JOIN  RRHH.vw_datosTrabajadores dt 
            ON dt.Codigo = vw.jefe1
        WHERE vw.cco = @cco;

        SET @correos = STUFF(
            COALESCE(';'+@correo_lider, '') +
            COALESCE(';'+@correo_jefe, '') +
            COALESCE(';'+@correo_tienda, '') +
            COALESCE(';'+@correo_especialista, '') +
            COALESCE(';'+@correos_adicionales, ''), 1, 1, ''
        );

        IF EXISTS (
            SELECT 1
            FROM Asistencia.permisos_trabajadores pt
            INNER JOIN RRHH.vw_datosTrabajadores dt 
                ON pt.codigo = dt.Codigo
            WHERE pt.idPermiso = 12
                AND DATEDIFF(DAY, pt.fecha_creacion, @fechaHoy) > 1
                AND pt.cco = @cco
                AND pt.Estado = 1
                AND NOT EXISTS (
                    SELECT 1 
                    FROM Ausencias.Accidentes a 
                    WHERE pt.codigo = a.Codigo 
                    AND CAST(pt.fecha_ini AS DATE)  between  CAST(a.Fecha_Ini_Incapacidad AS DATE) and  CAST(a.Fecha_Fin_Incapacidad AS DATE)
                )
        )
        BEGIN
            SET @Body = 
            N'<div style="font-family: Calibri;">
                <p>&nbsp;&nbsp;</p>
                <div style="padding-left: 25px;">
                    <table style="font-family: Calibri;" border="1" width="950" cellspacing="0" cellpadding="0">
                        <tbody>
                            <tr>
                                <td style="width: 904px; align-content: center; background-color: #536d87; color: black;" align="center">
                                    <span style="color: #ffffff;"><strong>Alerta de Permisos Pendientes de Reemplazo</strong></span>
                                </td>
                            </tr>
                            <tr>
                                <td style="width: 904px; padding-left: 25px;">
                                    <p>Estimado/a:</p>
                                    <p>Se informa sobre los permisos en el centro de costos <b>' + ISNULL(@descripcionCCO, 'Sin información') + N'</b> que aún no han sido formalmente reemplazados por una ausencia oficial.</p>
                                    <table border="1" width="100%" cellspacing="0" cellpadding="5">
                                        <tr style="background-color: #536d87; color: white;">
                                            <th>Cédula</th>
                                            <th>Nombre</th>
                                            <th>CCO Descripción</th>
                                            <th>Fecha de registro</th>
                                            <th>Fecha inicio</th>
                                            <th>Fecha fin</th>
                                        </tr>';
            
            SELECT 
                @Body = @Body + 
                N'<tr>
                    <td>' + LEFT(pt.codigo, 10) + N'</td>
                    <td>' + ISNULL(dt.Nombre, '') + N'</td>
                    <td>' + ISNULL(@descripcionCCO, 'Sin información') + N'</td>
                    <td>' + CONVERT(NVARCHAR, pt.fecha_creacion, 103) + N'</td>
                    <td>' + CONVERT(NVARCHAR, pt.fecha_ini, 103) + N'</td>
                    <td>' + CONVERT(NVARCHAR, pt.fecha_fin, 103) + N'</td>
                </tr>'
            FROM Asistencia.permisos_trabajadores pt
            INNER JOIN RRHH.vw_datosTrabajadores dt 
                ON pt.codigo = dt.Codigo
            WHERE pt.idPermiso = 12
                AND DATEDIFF(DAY, pt.fecha_creacion, @fechaHoy) > 1
                AND pt.cco = @cco
                AND pt.Estado = 1
                AND NOT EXISTS (
                    SELECT 1 
                    FROM Ausencias.Accidentes a 
                    WHERE pt.codigo = a.Codigo 
                    AND CAST(pt.fecha_ini AS DATE) between  CAST(a.Fecha_Ini_Incapacidad AS DATE) and  CAST(a.Fecha_Fin_Incapacidad AS DATE)
                );

            SET @Body = @Body + N'</table><p>Atentamente,</p><p><strong>PAYROLL NOMINA</strong></p>
                <p>Este es un mensaje automático, por favor no conteste este correo.</p>
            </td>
            </tr>
            <tr>
                <td style="width: 904px; align-content: center; background-color: #536d87; color: black;" align="center">
                    <span style="color: #ffffff;"><strong>PAYROLL</strong></span>
                </td>
            </tr>
            </tbody></table></div><p>&nbsp;</p></div>';

            IF @correos IS NOT NULL AND LEN(@correos) > 0
            BEGIN
                EXEC msdb.dbo.Sp_send_dbmail
                    @profile_name = 'Informacion_Nomina',
                    @recipients = @correos,
                    @copy_recipients = @correoCC_adicional,
                    @subject = 'Alerta de Permisos Pendientes de Reemplazo',
                    @body = @Body,
                    @body_format = 'HTML';
            END
        END

        FETCH NEXT FROM cco_cursor INTO @cco;
    END

    CLOSE cco_cursor;
    DEALLOCATE cco_cursor;

	IF EXISTS (
        SELECT 1
        FROM Asistencia.permisos_trabajadores pt
        LEFT JOIN Ausencias.Accidentes a 
            ON pt.codigo = a.Codigo 
            AND CAST(pt.fecha_ini AS DATE) BETWEEN CAST(a.Fecha_Ini_Incapacidad AS DATE) AND CAST(a.Fecha_Fin_Incapacidad AS DATE)
        WHERE pt.idPermiso = 12 
            AND pt.estado <> 5 
            AND DATEDIFF(DAY, pt.fecha_creacion, @fechaHoy) > 1 
            AND a.Codigo IS NULL
    )
    BEGIN
        SET @Body = 
        N'<div style="font-family: Calibri;">
            <p>&nbsp;&nbsp;</p>
            <div style="padding-left: 25px;">
                <table style="font-family: Calibri;" border="1" width="950" cellspacing="0" cellpadding="0">
                    <tbody>
                        <tr>
                            <td style="width: 904px; align-content: center; background-color: #536d87; color: black;" align="center">
                                <span style="color: #ffffff;"><strong>Reporte Consolidado – Permisos Enfermedad/Hospitalización pendientes</strong></span>
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 904px; padding-left: 25px;">
                                <p>Hola,</p>
                                <p>Se adjunta el consolidado de permisos sin justificación oficial por ausencia.</p>
                                <table border="1" width="100%" cellspacing="0" cellpadding="5" style="font-size: 11px;">
                                    <tr style="background-color: #536d87; color: white;">
                                        <th>CCO</th>
                                        <th>Descripción CCO</th>
                                        <th>Cédula</th>
                                        <th>Nombre</th>
                                        <th>Fecha registro</th>
                                        <th>Fecha inicio</th>
                                        <th>Fecha fin</th>
                                    </tr>';

        SELECT @Body = @Body + 
        N'<tr>
            <td>' + ISNULL(pt.cco, '') + N'</td>
            <td>' + ISNULL(cc.descripcion, 'Sin info') + N'</td>
            <td>' + LEFT(pt.codigo, 10) + N'</td>
            <td>' + ISNULL(dt.Nombre, '') + N'</td>
            <td>' + CONVERT(NVARCHAR, pt.fecha_creacion, 103) + N'</td>
            <td>' + CONVERT(NVARCHAR, pt.fecha_ini, 103) + N'</td>
            <td>' + CONVERT(NVARCHAR, pt.fecha_fin, 103) + N'</td>
        </tr>'
        FROM Asistencia.permisos_trabajadores pt
        INNER JOIN RRHH.vw_datosTrabajadores dt 
            ON pt.codigo = dt.Codigo
        LEFT JOIN Catalogos.centro_costos cc 
            ON pt.cco = cc.cco
        WHERE pt.idPermiso = 12 
            AND pt.estado <> 5 
            AND DATEDIFF(DAY, pt.fecha_creacion, @fechaHoy) > 1 
            AND NOT EXISTS (
                SELECT 1 FROM Ausencias.Accidentes a 
                WHERE pt.codigo = a.Codigo 
                AND CAST(pt.fecha_ini AS DATE) BETWEEN CAST(a.Fecha_Ini_Incapacidad AS DATE) AND CAST(a.Fecha_Fin_Incapacidad AS DATE)
            );

        SET @Body = @Body + N'</table><p>Atentamente,</p><p><strong>PAYROLL NOMINA</strong></p>
            <p>Mensaje automático. No responder.</p>
        </td>
        </tr>
        <tr>
            <td style="width: 904px; align-content: center; background-color: #536d87;" align="center">
                <span style="color: #ffffff;"><strong>PAYROLL</strong></span>
            </td>
        </tr>
        </tbody></table></div><p>&nbsp;</p></div>';


		SELECT @correoConsolidado = valor
		FROM Configuracion.parametros
		WHERE parametro = 'Mail_PER_ALER';

        EXEC msdb.dbo.Sp_send_dbmail
            @profile_name = 'Informacion_Nomina',
            @recipients = @correoConsolidado, 
            @subject = 'Consolidado Permisos Pendientes de Reemplazo',
            @body = @Body,
            @body_format = 'HTML';
    END
END;


 

		 