USE [DB_NOMKFC]
GO
/****** Object:  StoredProcedure [Cargas].[pa_rep_semanal_legalizadasporAprobar_mail]    Script Date: 29/5/2026 16:14:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:          <Carlucci, Luis>
-- Create date: <01/10,2019>
-- Description:     <envia mail con cargas legalizadas en la semana  anterior y los que faltan por legalizar>
-- =============================================
-- =============================================
-- Author:		Katerin Carrillo
-- Create date: 29/05/2026
-- Description:	Se inserta los datos en la tabla notificacionesConsolidadas
-- =============================================

ALTER proc [Cargas].[pa_rep_semanal_legalizadasporAprobar_mail]
AS
begin
BEGIN TRY
declare
@contLegalizados int,
@contPorLegalizar int,
@html varchar(max),
@asunto varchar(200),
@correos varchar(1000),
@correoCC varchar(1000),
@query1 varchar(max),
@query2 varchar(max),
@url varchar(200),
@fechas varchar(200)
Begin
select @contLegalizados=count(id_carga_familiar) from cargas.audit_familiares_personas where accionDescripcion='Se Paso a Legalizado carga familiar' 
and  convert(varchar(8),fecha_accion,112) <=  ( convert(varchar(8),DATEADD(day, -1, getdate()),112)) and convert(varchar(8),fecha_accion,112) >=  (convert(varchar(8),DATEADD(day, -7, getdate()),112))

		select @url='http://nomina.kfc.com.ec/KFCReporteador/CargasFamiliares/listadoSEMCargAPPA.aspx?F1='+  convert(varchar(8),DATEADD(day, -1, getdate()),112)+'&R1=PBDkmnsxbO723bgjn7'+(select configuracion.fnCustomPass (17,'CN'))--23bgjn72651fdtejsuc87rfd'
		
		 select @fechas= ' '+ convert(varchar(10),DATEADD(day, -7, getdate()),103)+' al '+ convert(varchar(10),DATEADD(day, -1, getdate()),103)
		 
		 select @contPorLegalizar=count(AU.id_carga_familiar) from cargas.Audit_familiares_personas AU  join cargas.familiares_personas CF on CF.id_carga_familiar=AU.id_carga_familiar
		 join rrhh.vw_datosTrabajadores vw on AU.cedula=Trabajador 
		  where  CF.estado=0 and Situacion='Activo'

	 
	  select @html=referencia_06,  @asunto=descripcion from  Configuracion.parametros where parametro='MailCFSem'
	  select @correos= referencia_06 from  Configuracion.parametros where parametro='MailCFSeRe'
	  select @correoCC='sabrina.chinchin@kfc.com.ec'

		 if @contLegalizados>0 or @contPorLegalizar>0
		 begin


		 select @html=replace(replace(@html,'@url',@url), '@fech',@fechas)
	  
			 insert into Asistencia.captura_correos (correo, correocc, html, modulo) values (@correos, @correoCC, @html, 'Cargas Fam Semanal')

		 	--Insert en notificaciones consolidadas
		 	INSERT INTO Avisos.notificacionesConsolidadas (estado, origen, spOrigen, asunto, descripcionHtml, destinatarios, periodoInicio, periodoFin, descripcion, prioridad, categoria, mensajeError, cantidadRegistros)
		 	VALUES ('A', 'MailCFSem/MailCFSeRe', 'pa_rep_semanal_legalizadasporAprobar_mail', @asunto, @html, @correos, NULL, NULL, 'Con novedad', 'Alta', 'CARGAS FAMILIARES', NULL, @contLegalizados + @contPorLegalizar);

	 	    exec msdb.dbo.Sp_send_dbmail
			@profile_name = 'Informacion_Nomina',  
			@Subject = @asunto,
			@recipients = @correos,
			@copy_recipients = @correoCC,
			@blind_copy_recipients = 'dennis.suarez@gmail.com',
			@body_format= 'html',
			@body =  @html;
   

		 end

		 ELSE
		 BEGIN
		 	--Insert en notificaciones consolidadas
		 	INSERT INTO Avisos.notificacionesConsolidadas (estado, origen, spOrigen, asunto, descripcionHtml, destinatarios, periodoInicio, periodoFin, descripcion, prioridad, categoria, mensajeError, cantidadRegistros)
		 	VALUES ('C', 'MailCFSem/MailCFSeRe', 'pa_rep_semanal_legalizadasporAprobar_mail', @asunto, '<p>No existen novedades de cargas familiares en la semana.</p>', @correos, NULL, NULL, 'Sin novedad', 'Alta', 'CARGAS FAMILIARES', NULL, 0);
		 END

		 end

    END TRY
    BEGIN CATCH
    	--Insert en notificaciones consolidadas
    	INSERT INTO Avisos.notificacionesConsolidadas (estado, origen, spOrigen, asunto, descripcionHtml, destinatarios, periodoInicio, periodoFin, descripcion, prioridad, categoria, mensajeError, cantidadRegistros)
    	VALUES ('E', 'MailCFSem/MailCFSeRe', 'pa_rep_semanal_legalizadasporAprobar_mail', @asunto, NULL, @correos, NULL, NULL, 'Error Proceso', 'Alta', 'CARGAS FAMILIARES', ERROR_MESSAGE(), NULL);
    END CATCH
End