USE [DB_NOMKFC]
GO
/****** Object:  StoredProcedure [Vacacion].[pa_valida_vacacionesFechasMalas]    Script Date: 28/5/2026 10:34:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:          <Carlucci, Luis>
-- Create date: <01/10,2019>
-- Description:     <obtine vacaciones fechas malas>
-- =============================================
-- =============================================
-- Author:		Katerin Carrillo
-- Create date: 28/05/2026
-- Description:	Se inserta los datos en la tabla notificacionesConsolidadas
-- =============================================

ALTER proc [Vacacion].[pa_valida_vacacionesFechasMalas]
AS
begin

declare 
@trabajador varchar(10),
@fecha_ini date,
@fecha_fin date,
@compania varchar(4),
@saludos varchar(500),
@html varchar(max),
@msg varchar(2000),
@asunto varchar(1000)

create table #tablavacsol(
trabajador varchar(10),
compania_desc varchar(300),
Desc_Clase_Nomina varchar(300),
Desc_CCO varchar(300),
nombre varchar(500),
fecha_ini_per_vac date,
fecha_fin_per_vac date,
ciclo_laboral varchar(10)
)

Declare VacacionesSolap Cursor local For                          
    select trabajador,fecha_ini_per_vac,compania  from adam.dbo.programacion_vacaciones where fecha_ini_per_vac<'19850101' or fecha_fin_per_vac<'19850101'

Open VacacionesSolap                          
                          
 While @@Fetch_Status < 1                          
  Begin                          
     Fetch VacacionesSolap Into @trabajador, @fecha_ini, @compania

	 insert into #tablavacsol  
	 select S.Trabajador, Compania_Desc, Desc_Clase_Nomina, Desc_CCO, nombre, fecha_ini_per_vac,  fecha_fin_per_vac, ciclo_laboral 
		from adam.dbo.programacion_vacaciones S
		left join rrhh.vw_datosTrabajadores vw on S.Trabajador=vw.Trabajador and  S.compania=vw.compania 
	    where fecha_ini_per_vac<'19850101' or fecha_fin_per_vac<'19850101' and situacion='Activo'

                          
     If @@Fetch_Status <> 0                           
        Begin                          
           Break                          
        End                          
              
                        
end                          
  Close      VacacionesSolap                          
  Deallocate VacacionesSolap

  	select @saludos='Buenos días'
	select @msg='A continuacion se presenta la tabla de vacaciones con fechas incorrectas' 

  	select @html='<html><head> <title></title>'+
	N' <style type="text/css"> #box-table { font-family: "Calibri"; font-size: 11px; text-align: center; border-collapse: collapse; border-top: 1px solid black; border-bottom: 1px solid black; } #box-table th { font-size: 11px; font-weight: normal; font-style: bold; background: black; border-right: 1px solid black; border-left: 1px solid black; border-bottom: 1px solid black; color: white; } #box-table td { border-right: 1px solid gray; border-left: 1px solid gray; border-bottom: 1px solid gray; color: black; } tr:nth-child(odd)   { background-color:#eee; } tr:nth-child(even)  { background-color:#fff; }  th, td { padding: 4px; text-align: left;} </style> </head>'+
    N'<body><div style="font-family:Calibri" >'+
    N'<H1  style="font-family: Calibri; color:black; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; line-height: auto;">'+@saludos+'</H1>'+
    N'<b></n>'+
    N'<p style="font-family: Calibri; color:black; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400;"> '+@msg+'</p> '+
    N'<br/> '+
    --N'<H1  style="font-family: ''Trebuchet MS''; font-size: medium; font-weight: bold; font-style: normal; color:#993300">Reporte de Trabajadores con Compensaciones Especiales Por Vencer</H1>'+   
   N'<table id="box-table" >' +
  N'<tr align="left" >'+
 -- N'<th align="left">Id Solicitud</th>'+
    N'<th align="left">Cédula</th>'+
    N'<th align="left">Compañía</th>'+
       N'<th align="left">Cadena</th>'+
    N'<th align="left">CCO</th>'+
    N'<th align="left">Nombre</th>'+
    N'<th align="left"> Fecha inicio</th>'+
    N'<th align="left"> Fecha Fin</th>'+
	--N'<th align="left"> Días</th>'+
    N'<th align="left"> Ciclo Laboral</th>'+
  
cast( (select distinct 
				--td= S.id,'',
				td= Trabajador,'',
				td= Compania_Desc,'',
				td=Desc_Clase_Nomina,'',
				td=Desc_CCO,'',
				td=nombre,'',
				td=convert(nvarchar, fecha_ini_per_vac,103),'',
				td=convert(nvarchar, fecha_fin_per_vac,103),'',
				--td=convert(nvarchar,dias),'',
				td=convert(nvarchar,ciclo_laboral),''  
 from #tablavacsol

FOR XML PATH('tr'),TYPE
) as varchar(max))+
    N'</table> '+
	N'<p style="font-family: Calibri; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400;"> Atentamente </p>'+
    N'<p style="font-family: Calibri; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400;  ">Recursos Humanos-N&#243;mina</p>'+
    N'<br/><br /><br/><br/> </div> </body></html>'  ; 
	 
 
if @html is not null
			begin
 
			--Insert en notificaciones consolidadas
 
			INSERT INTO Avisos.notificacionesConsolidadas (estado, origen, spOrigen, asunto, descripcionHtml, destinatarios, periodoInicio, periodoFin, descripcion, prioridad, categoria, mensajeError)
 
			VALUES ('A', 'pa_valida_vacacionesFechasMalas', 'pa_valida_vacacionesFechasMalas', 'Vacaciones con fechas incorrectas', @html, 'vacaciones@kfc.com.ec;sabrina.chinchin@kfc.com.ec;', NULL, NULL, 'Con novedad', 'Media', 'VACACIONES', NULL)

 
			exec msdb.dbo.Sp_send_dbmail
			 @profile_name = 'Informacion_Nomina',  
			 @Subject = 'Vacaciones con fechas incorrectas',
			 @recipients = 'vacaciones@kfc.com.ec;sabrina.chinchin@kfc.com.ec;',
			 @body_format= 'html',
			 @body = @html ;  
			 
			end


end