USE [DB_NOMKFC]
GO
/****** Object:  StoredProcedure [Vacacion].[pa_valida_generacionVacPreprog]    Script Date: 27/5/2026 14:48:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:          <Carlucci, Luis>
-- Create date: <02/01/2019>
-- Description:     <Obtiene las vacaciones incompletas o duplicadas en preprogramacion de vacaciones y envia correo>
-- =============================================
-- =============================================
-- Author:		Katerin Carrillo
-- Create date: 27/05/2026
-- Description:	Se inserta los datos en la tabla notificacionesConsolidadas
-- =============================================
ALTER proc [Vacacion].[pa_valida_generacionVacPreprog]
 
AS
begin 
declare 
	@contdup int,
	@continc int,
	@id int,
	@codigo varchar(20),
	@dias int,
	@fecha_inicio date,
	@fecha_fin date,
	@ciclo_laboral varchar(10),
	@tipo varchar(100),
	@saludos varchar(500),
	@html varchar(max),
	@msg varchar(2000)

--solicitudes duplicadas

	select @contdup=count(id)
	from Vacacion.Solicitud_vacaciones S
	where dias<(select sum(tiempo_prog_vac) from Vacacion.Solicitud_Vacaciones_Preprogramacion P where S.id=P.id and compania=right(S.codigo,2))
	 

 -- contador solicitudes incompletas
	select  @continc =count(id)
	from Vacacion.Solicitud_vacaciones S
	where dias>(select sum(tiempo_prog_vac) from Vacacion.Solicitud_Vacaciones_Preprogramacion P where S.id=P.id) and estado <> 3


  if @contdup>0 --se envia correo de solicitudes duplicadas
	begin
	select @saludos='Buenos días'
	select @msg='A continuacion se presenta la tabla de vacaciones con duplicados en la tabla preprogramación de vacaciones'
	select @html='<html><head> <title></title>'+
	N' <style type="text/css"> #box-table { font-family: "Calibri"; font-size: 11px; text-align: center; border-collapse: collapse; border-top: 1px solid black; border-bottom: 1px solid black; } #box-table th { font-size: 11px; font-weight: normal; font-style: bold; background: black; border-right: 1px solid black; border-left: 1px solid black; border-bottom: 1px solid black; color: white; } #box-table td { border-right: 1px solid gray; border-left: 1px solid gray; border-bottom: 1px solid gray; color: black; } tr:nth-child(odd)   { background-color:#eee; } tr:nth-child(even)  { background-color:#fff; }  th, td { padding: 4px; text-align: left;} </style> </head>'+
    N'<body><div style="font-family:Calibri" >'+
    N'<H1  style="font-family: Calibri; color:black; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; line-height: auto;">'+@saludos+'</H1>'+
    N'<b></n>'+
    N'<p style="font-family: Calibri; color:black; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400;"> '+@msg+'</p> '+
    N'<br/> '+
    --N'<H1  style="font-family: ''Trebuchet MS''; font-size: medium; font-weight: bold; font-style: normal; color:#993300">Reporte de Trabajadores con Compensaciones Especiales Por Vencer</H1>'+   
    N'<table id="box-table" >' +
    N'<tr align="left" >'+
    N'<th align="left">Id Solicitud</th>'+
    N'<th align="left">Codigo</th>'+
    N'<th align="left">Compañía</th>'+
    N'<th align="left">Cadena</th>'+
    N'<th align="left">CCO</th>'+
    N'<th align="left">Nombre</th>'+
    N'<th align="left"> Fecha inicio</th>'+
    N'<th align="left"> Fecha Fin</th>'+
	N'<th align="left"> Días</th>'+
    N'<th align="left"> Ciclo Laboral</th>'+ 
cast( (select distinct 
				td= S.id,'',
				td= S.codigo,'',
				td= Compania_Desc,'',
				td=Desc_Clase_Nomina,'',
				td=Desc_CCO,'',
				td=nombre,'',
				td=convert(nvarchar, fecha_inicio,103),'',
				td=convert(nvarchar, fecha_fin,103),'',
				td=convert(nvarchar,dias),'',
				td=convert(nvarchar,ciclo_laboral),''  
 from Vacacion.Solicitud_vacaciones S
		left join vacacion.Solicitud_Vacaciones_Preprogramacion P on P.id=S.id
		left join RRHH.vw_datosTrabajadores vw on S.codigo=vw.codigo
		where dias<(select sum(tiempo_prog_vac) from Vacacion.Solicitud_Vacaciones_Preprogramacion P where S.id=P.id and compania=right(S.codigo,2))

FOR XML PATH('tr'),TYPE
) as varchar(max))+
    N'</table> '+
	N'<p style="font-family: Calibri; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400;"> Atentamente </p>'+
    N'<p style="font-family: Calibri; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400;  ">Recursos Humanos-N&#243;mina</p>'+
    N'<br/><br /><br/><br/> </div> </body></html>'  ; 
		--select distinct S.id, S.codigo, dias, fecha_inicio, fecha_fin, ciclo_laboral , vw.compania, Compania_Desc, Clase_Nomina, Desc_Clase_Nomina, cco, Desc_CCO
		--from Vacacion.Solicitud_vacaciones S
		--left join vacacion.Solicitud_Vacaciones_Preprogramacion P on P.id=S.id
		--left join RRHH.vw_datosTrabajadores vw on S.codigo=vw.codigo
		--where dias<(select sum(tiempo_prog_vac) from Vacacion.Solicitud_Vacaciones_Preprogramacion P where S.id=P.id)

	 
		if @html is not null
			begin

			--Insert en notificaciones consolidadas

			INSERT INTO Avisos.notificacionesConsolidadas (estado, origen, spOrigen, asunto, descripcionHtml, destinatarios, periodoInicio, periodoFin, descripcion, prioridad, categoria, mensajeError)

			VALUES ('A', 'pa_valida_generacionVacPreprog', 'pa_valida_generacionVacPreprog', 'Vacaciones con solicitudes duplicadas', @html, 'vacaciones@kfc.com.ec;sabrina.chinchin@kfc.com.ec;', NULL, NULL, 'Con novedad', 'Baja', 'VACACIONES', NULL)


			exec msdb.dbo.Sp_send_dbmail
			 @profile_name = 'Informacion_Nomina',  
			 @Subject = 'Vacaciones con solicitudes duplicadas',
			 @recipients = 'vacaciones@kfc.com.ec',
			 @body_format= 'html',
			 @body = @html  ,  
			 @copy_recipients = 'sabrina.chinchin@kfc.com.ec' ;
			end
	end --@contdup>0
	


	if @continc>0 --solicitudes incompletas envia mail
		begin
	select @saludos='Buenos días'
	select @msg='A continuacion se presenta la tabla de vacaciones incompletas en la tabla preprogramación de vacaciones'
	select @html='<html><head> <title></title>'+
	N' <style type="text/css"> #box-table { font-family: "Calibri"; font-size: 11px; text-align: center; border-collapse: collapse; border-top: 1px solid black; border-bottom: 1px solid black; } #box-table th { font-size: 11px; font-weight: normal; font-style: bold; background: black; border-right: 1px solid black; border-left: 1px solid black; border-bottom: 1px solid black; color: white; } #box-table td { border-right: 1px solid gray; border-left: 1px solid gray; border-bottom: 1px solid gray; color: black; } tr:nth-child(odd)   { background-color:#eee; } tr:nth-child(even)  { background-color:#fff; }  th, td { padding: 4px; text-align: left;} </style> </head>'+
    N'<body><div style="font-family:Calibri" >'+
    N'<H1  style="font-family: Calibri; color:black; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; line-height: auto;">'+@saludos+'</H1>'+
    N'<b></n>'+
    N'<p style="font-family: Calibri; color:black; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400;"> '+@msg+'</p> '+
    N'<br/> '+
    --N'<H1  style="font-family: ''Trebuchet MS''; font-size: medium; font-weight: bold; font-style: normal; color:#993300">Reporte de Trabajadores con Compensaciones Especiales Por Vencer</H1>'+   
    N'<table id="box-table" >' +
    N'<tr align="left" >'+
    N'<th align="left">Id Solicitud</th>'+
    N'<th align="left">Codigo</th>'+
    N'<th align="left">Compañía</th>'+
    N'<th align="left">Cadena</th>'+
    N'<th align="left">CCO</th>'+
    N'<th align="left">Nombre</th>'+
    N'<th align="left"> Fecha inicio</th>'+
    N'<th align="left"> Fecha Fin</th>'+
	N'<th align="left"> Días</th>'+
    N'<th align="left"> Ciclo Laboral</th>'+
  
cast( (select distinct 
				td= S.id,'',
				td= S.codigo,'',
				td= Compania_Desc,'',
				td=Desc_Clase_Nomina,'',
				td=Desc_CCO,'',
				td=nombre,'',
				td=convert(nvarchar, fecha_inicio,103),'',
				td=convert(nvarchar, fecha_fin,103),'',
				td=convert(nvarchar,dias),'',
				td=convert(nvarchar,ciclo_laboral),''  
 from Vacacion.Solicitud_vacaciones S
		left join vacacion.Solicitud_Vacaciones_Preprogramacion P on P.id=S.id
		left join RRHH.vw_datosTrabajadores vw on S.codigo=vw.codigo
		where dias>(select sum(tiempo_prog_vac) from Vacacion.Solicitud_Vacaciones_Preprogramacion P where S.id=P.id)

FOR XML PATH('tr'),TYPE
) as varchar(max))+
    N'</table> '+
	N'<p style="font-family: Calibri; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400;"> Atentamente </p>'+
    N'<p style="font-family: Calibri; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400;  ">Recursos Humanos-N&#243;mina</p>'+
    N'<br/><br /><br/><br/> </div> </body></html>'  ; 
		 
		if @html is not null
			begin

			--Insert en notificaciones consolidadas

			INSERT INTO Avisos.notificacionesConsolidadas (estado, origen, spOrigen, asunto, descripcionHtml, destinatarios, periodoInicio, periodoFin, descripcion, prioridad, categoria, mensajeError)

			VALUES ('A', 'pa_valida_generacionVacPreprog', 'pa_valida_generacionVacPreprog', 'Vacaciones con solicitudes duplicadas', @html, 'vacaciones@kfc.com.ec;sabrina.chinchin@kfc.com.ec;', NULL, NULL, 'Con novedad', 'Baja', 'VACACIONES', NULL)


			exec msdb.dbo.Sp_send_dbmail
			 @profile_name = 'Informacion_Nomina',  
			 @Subject = 'Vacaciones con solicitudes duplicadas',
		     @recipients = 'vacaciones@kfc.com.ec',
			 @body_format= 'html',
			 @body = @html  ,  
			 @copy_recipients = 'sabrina.chinchin@kfc.com.ec' ;
			end
	end --@@continc>0
 
end