USE [DB_NOMKFC]
GO
/****** Object:  StoredProcedure [Vacacion].[pa_valida_vacacionesSolapadas]    Script Date: 27/5/2026 14:50:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:          <Carlucci, Luis>
-- Create date: <01/10,2019>
-- Description:     <obtine vacaciones solapadas>
-- =============================================
-- =============================================
-- Author:		Katerin Carrillo
-- Create date: 27/05/2026
-- Description:	Se inserta los datos en la tabla notificacionesConsolidadas
-- =============================================

ALTER proc [Vacacion].[pa_valida_vacacionesSolapadas]
AS
begin

declare 
@trabajador varchar(10),
@fecha_ini date,
@fecha_fin date,
@compania varchar(4),
@saludos varchar(100),
@html varchar(max),
@msg varchar(100),
@asunto varchar(1000)

create table #tablavacsol(
trabajador varchar(10),
compania_desc varchar(300),
Desc_Clase_Nomina varchar(300),
Desc_CCO varchar(300),
nombre varchar(500),
fecha_ini_per_vac date,
fecha_fin_per_vac date,
ciclo_laboral varchar(10)
)
 

declare @tabla as table (trabajador char(10), fecha_ini date, fecha_fin date, compania char(2), ciclo char(8), 
fecha_siguiente date, estado varchar(15))

Declare C_valSolapa Cursor local For                          
  select compania, trabajador from adam.dbo.trabajadores_grales
  where sit_trabajador = 1

Open C_valSolapa                          
                          
 While @@Fetch_Status < 1                          
  Begin                          
     Fetch C_valSolapa Into   @compania, @trabajador                    
                          
     If @@Fetch_Status <> 0                           
        Begin                          
           Break                          
        End                          
    
	insert into @tabla
    select  V.trabajador,fecha_ini_per_vac, fecha_fin_per_vac,V.compania, ciclo_laboral ,
    LAG (fecha_ini_per_vac, 1, 0) OVER (PARTITION BY V.trabajador ORDER BY fecha_ini_per_vac DESC) ,
	case when  LAG (fecha_ini_per_vac, 1, 0) OVER (PARTITION BY V.trabajador ORDER BY fecha_ini_per_vac DESC) between fecha_ini_per_vac  and fecha_fin_per_vac

	then 'MAL' when   lead (fecha_fin_per_vac, 1, 0) OVER (PARTITION BY V.trabajador ORDER BY fecha_ini_per_vac DESC) between fecha_ini_per_vac  and fecha_fin_per_vac then 'MAL2' else 'OK' end
	from adam.dbo.programacion_vacaciones V inner join  adam.dbo.trabajadores_grales T
	on V.trabajador = T.trabajador
	and V.compania = T.compania
	where V.trabajador =  @trabajador and V.compania = @compania
	and sit_trabajador = 1 
	order by fecha_ini_per_vac
                        
end                          
  Close      C_valSolapa                          
  Deallocate C_valSolapa 

 
Declare VacacionesSolap Cursor local For                          
    select trabajador, fecha_ini, compania from @tabla
   where fecha_ini>'20190101' and (estado = 'MAL' or estado='MAL2')

Open VacacionesSolap                          
                          
 While @@Fetch_Status < 1                          
  Begin                          
     Fetch VacacionesSolap Into @trabajador, @fecha_ini, @compania
	 
	 insert into #tablavacsol  
	 select  S.Trabajador, Compania_Desc, Desc_Clase_Nomina, Desc_CCO, nombre, fecha_ini_per_vac,  fecha_fin_per_vac, ciclo_laboral 
 from adam.dbo.programacion_vacaciones S
		left join rrhh.vw_datosTrabajadores vw on S.Trabajador=vw.Trabajador and  S.compania=vw.compania 
		where S.trabajador=@trabajador and fecha_ini_per_vac=@fecha_ini and S.compania=@compania and situacion='Activo'

                          
     If @@Fetch_Status <> 0                           
        Begin                          
           Break                          
        End                          
              
                        
end                          
  Close      VacacionesSolap                          
  Deallocate VacacionesSolap

  	select @saludos='Buenos días'
	select @msg='A continuacion se presenta la tabla de vacaciones con solape de fechas' 

  	select @html='<html><head> <title></title>'+
	N' <style type="text/css"> #box-table { font-family: "Calibri"; font-size: 11px; text-align: center; border-collapse: collapse; border-top: 1px solid black; border-bottom: 1px solid black; } #box-table th { font-size: 11px; font-weight: normal; font-style: bold; background: black; border-right: 1px solid black; border-left: 1px solid black; border-bottom: 1px solid black; color: white; } #box-table td { border-right: 1px solid gray; border-left: 1px solid gray; border-bottom: 1px solid gray; color: black; } tr:nth-child(odd)   { background-color:#eee; } tr:nth-child(even)  { background-color:#fff; }  th, td { padding: 4px; text-align: left;} </style> </head>'+
    N'<body><div style="font-family:Calibri" >'+
    N'<H1  style="font-family: Calibri; color:black; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; line-height: auto;">'+@saludos+'</H1>'+
    N'<b></n>'+
    N'<p style="font-family: Calibri; color:black; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400;"> '+@msg+'</p> '+
    N'<br/> '+
    --N'<H1  style="font-family: ''Trebuchet MS''; font-size: medium; font-weight: bold; font-style: normal; color:#993300">Reporte de Trabajadores con Compensaciones Especiales Por Vencer</H1>'+   
    N'<table id="box-table" >' +
    N'<tr align="left" >'+
 -- N'<th align="left">Id Solicitud</th>'+
    N'<th align="left">Cédula</th>'+
    N'<th align="left">Compañía</th>'+
    N'<th align="left">Cadena</th>'+
    N'<th align="left">CCO</th>'+
    N'<th align="left">Nombre</th>'+
    N'<th align="left"> Fecha inicio</th>'+
    N'<th align="left"> Fecha Fin</th>'+
	--N'<th align="left"> Días</th>'+
    N'<th align="left"> Ciclo Laboral</th>'+
  
cast( (select  
				--td= S.id,'',
				td= Trabajador,'',
				td= Compania_Desc,'',
				td=Desc_Clase_Nomina,'',
				td=Desc_CCO,'',
				td=nombre,'',
				td=convert(nvarchar, fecha_ini_per_vac,103),'',
				td=convert(nvarchar, fecha_fin_per_vac,103),'',
				--td=convert(nvarchar,dias),'',
				td=convert(nvarchar,ciclo_laboral),''  
    from #tablavacsol  FOR XML PATH('tr'),TYPE ) as varchar(max))+
    N'</table> '+
	N'<p style="font-family: Calibri; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400;"> Atentamente </p>'+
    N'<p style="font-family: Calibri; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400;  ">Recursos Humanos-N&#243;mina</p>'+
    N'<br/><br /><br/><br/> </div> </body></html>'  ; 

	 
if @html is not null
			begin
 
			--Insert en notificaciones consolidadas
 
			INSERT INTO Avisos.notificacionesConsolidadas (estado, origen, spOrigen, asunto, descripcionHtml, destinatarios, periodoInicio, periodoFin, descripcion, prioridad, categoria, mensajeError)
 
			VALUES ('A', 'pa_valida_vacacionesSolapadas', 'pa_valida_vacacionesSolapadas', 'Vacaciones Solapadas', @html, 'vacaciones@kfc.com.ec;sabrina.chinchin@kfc.com.ec;', NULL, NULL, 'Con novedad', 'Media', 'VACACIONES', NULL)

 
			exec msdb.dbo.Sp_send_dbmail
			 @profile_name = 'Informacion_Nomina',  
			 @Subject = 'Vacaciones Solapadas',
			 @recipients = 'vacaciones@kfc.com.ec;sabrina.chinchin@kfc.com.ec;',
			 @body_format= 'html',
			 @body = @html  
		 
			end

			
end


 