USE [DB_NOMKFC]
GO
/****** Object:  StoredProcedure [Cargos].[pa_correo_venc_AP_SalariosProgresivos]    Script Date: 11/6/2026 16:50:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:          <Carlucci, Luis>
-- Create date: <02/01/2019>
-- Description:     <envia por correo los trabajadores con Salarios Progresivos  por vencer>
-- =============================================

ALTER proc [Cargos].[pa_correo_venc_AP_SalariosProgresivos]
 
as
Begin
declare
@asunto varchar(250),
@html varchar(MAX),
@msg varchar (500),
@saludos varchar (100),
@correo varchar (1000),
@query1 varchar (max),
@correoCC varchar(1000),
@i int = 0

select @correo= Configuracion.fn_correosVariosRemitentes('mailCompEs')
set @correoCC='sabrina.chinchin@kfc.com.ec'
 
----------------------------correo 15 dias antes
set @i=0
 select @i  =   count (*) from AP.SalariosProgresivos 
       where fecha between convert(varchar(10), getdate(), 120) and convert(varchar(10), dateadd(day, +15, getdate()),120)
if (@i>0)
begin 
set @asunto = 'Listado de trabajadores con Salarios Progresivos por Vencer'
set @msg = 'Adjunto se envia el listado de trabajadores con Salarios progresivos a Vencer en 15 dias'
set @saludos='Buenos días'

select @html='<head> <title></title> <style type="text/css">table {border-collapse: collapse;} table, td, th {border: 1px solid black;}</style></head>'+
    N'<body><p  style="font-family: ''Trebuchet MS''; font-size: medium; font-weight: bold; font-style: normal; color:black">'+@saludos+'</p><b></n>'+
    N'<p  style="font-family: ''Trebuchet MS''; font-size: medium; font-weight: bold; font-style: normal; color: black">'+ @msg+'</p>'+
    N'<table width = "1000">'+
    N'<tr align="left"  style="font-family: ''Trebuchet MS''; font-size: small; font-weight: bold; font-style: normal; color: #FFFFFF">'+
	N'<th  align="left" bgcolor="#EAB28A" " width: "150" >Codigo</th>'+
	N'<th  align="left" bgcolor="#4074B0" " width: "350" >Nombre</th>'+
	N'<th  align="left" bgcolor="#4074B0" " width: "150" >Sueldo Nuevo</th>'+
    N'<th  align="left" bgcolor="#4074B0" " width: "150" >Sueldo Actual</th>'+
    N'<th  align="left" bgcolor="#4074B0" width: "150" >Fecha de progresion salarial</th>'+
    N'<th  align="left"  bgcolor="#4074B0" width: "50" > % Incremento</th>'+
cast( (select distinct  td= a.codigo, '',
			  td= Nombre,'',
			  td= compania, '',
			  td= monto,'',
			  td= sueldo,'',
			  td= fecha,'',
			  td= cast((cast (round((monto/sueldo),2)as numeric (3,2)))as varchar )+'%',''
 from AP.SalariosProgresivos a join RRHH.vw_datosTrabajadores b on a.codigo=b.Codigo
   where fecha between convert(varchar(10), getdate(), 120) and convert(varchar(10), dateadd(day, +15, getdate()),120)

FOR XML PATH('tr'),TYPE
) as varchar(max))+
    N'</table> <br/><br /><br/><br/>  </body>'  ; 

select @query1=  'select distinct compania,a.codigo,Nombre, monto as sueldo_nuevo, Sueldo as sueldo_actual, fecha, cast((cast (round((monto/sueldo),2)as numeric (3,2)))as varchar )+''%'' as '+'Incremento %'+
   N'from AP.SalariosProgresivos a join RRHH.vw_datosTrabajadores b on a.codigo=b.Codigo'+
  N' where fecha between convert(varchar(10), getdate(), 120) and convert(varchar(10), dateadd(day, +15, getdate()),120)'

exec msdb.dbo.Sp_send_dbmail
     @profile_name = 'Informacion_Nomina',  
     @Subject = @asunto,
     @recipients = @correo,
     @body_format= 'html',
     @body = @html  ,  
	 @query = @query1 ,
	 --@query_result_width =32767,
	 @query_result_separator=';',
     @copy_recipients = @correoCC ,
	 @query_attachment_filename = 'Listado_venc_AP_SalariosProgresivos.csv',
     @attach_query_result_as_file = 1; 

end

----------------------------correo 10 dias antes
set @i=0
 select @i  =   count (*) from AP.SalariosProgresivos 
       where fecha between convert(varchar(10), getdate(), 120) and convert(varchar(10), dateadd(day, +10, getdate()),120)
if (@i>0)
begin 
set @asunto = 'Listado de trabajadores con Salarios Progresivos por Vencer'
set @msg = 'Adjunto se envia el listado de trabajadores con Salarios progresivos a Vencer en 10 dias'
set @saludos='Buenos días'

select @html='<head> <title></title> <style type="text/css">table {border-collapse: collapse;} table, td, th {border: 1px solid black;}</style></head>'+
    N'<body><p  style="font-family: ''Trebuchet MS''; font-size: medium; font-weight: bold; font-style: normal; color:black">'+@saludos+'</p><b></n>'+
    N'<p  style="font-family: ''Trebuchet MS''; font-size: medium; font-weight: bold; font-style: normal; color: black">'+ @msg+'</p>'+
    N'<table width = "1000">'+
    N'<tr align="left"  style="font-family: ''Trebuchet MS''; font-size: small; font-weight: bold; font-style: normal; color: #FFFFFF">'+
	N'<th  align="left" bgcolor="#EAB28A" " width: "150" >Codigo</th>'+
	N'<th  align="left" bgcolor="#4074B0" " width: "350" >Nombre</th>'+
	N'<th  align="left" bgcolor="#4074B0" " width: "150" >Sueldo Nuevo</th>'+
    N'<th  align="left" bgcolor="#4074B0" " width: "150" >Sueldo Actual</th>'+
    N'<th  align="left" bgcolor="#4074B0" width: "150" >Fecha de progresion salarial</th>'+
    N'<th  align="left"  bgcolor="#4074B0" width: "50" > % Incremento</th>'+
cast( (select distinct  td= a.codigo, '',
			  td= Nombre,'',
			  td= compania, '',
			  td= monto,'',
			  td= sueldo,'',
			  td= fecha,'',
			  td= cast((cast (round((monto/sueldo),2)as numeric (3,2)))as varchar )+'%',''
 from AP.SalariosProgresivos a join RRHH.vw_datosTrabajadores b on a.codigo=b.Codigo
   where fecha between convert(varchar(10), getdate(), 120) and convert(varchar(10), dateadd(day, +10, getdate()),120)

FOR XML PATH('tr'),TYPE
) as varchar(max))+
    N'</table> <br/><br /><br/><br/>  </body>'  ; 

select @query1=  'select distinct compania,a.codigo,Nombre, monto as sueldo_nuevo, Sueldo as sueldo_actual, fecha, cast((cast (round((monto/sueldo),2)as numeric (3,2)))as varchar )+''%'' as '+'Incremento %'+
   N'from AP.SalariosProgresivos a join RRHH.vw_datosTrabajadores b on a.codigo=b.Codigo'+
  N' where fecha between convert(varchar(10), getdate(), 120) and convert(varchar(10), dateadd(day, +10, getdate()),120)'

exec msdb.dbo.Sp_send_dbmail
     @profile_name = 'Informacion_Nomina',  
     @Subject = @asunto,
     @recipients = @correo,
     @body_format= 'html',
     @body = @html  ,  
	 @query = @query1 ,
	 --@query_result_width =32767,
	 @query_result_separator=';',
     @copy_recipients = @correoCC ,
	 @query_attachment_filename = 'Listado_venc_AP_SalariosProgresivos.csv',
     @attach_query_result_as_file = 1; 

end

----------------------------correo 5 dias antes
set @i=0
 select @i  =   count (*) from AP.SalariosProgresivos 
       where fecha between convert(varchar(10), getdate(), 120) and convert(varchar(10), dateadd(day, +5, getdate()),120)
if (@i>0)
begin 
set @asunto = 'Listado de trabajadores con Salarios Progresivos por Vencer'
set @msg = 'Adjunto se envia el listado de trabajadores con Salarios progresivos a Vencer en 5 dias'
set @saludos='Buenos días'

select @html='<head> <title></title> <style type="text/css">table {border-collapse: collapse;} table, td, th {border: 1px solid black;}</style></head>'+
    N'<body><p  style="font-family: ''Trebuchet MS''; font-size: medium; font-weight: bold; font-style: normal; color:black">'+@saludos+'</p><b></n>'+
    N'<p  style="font-family: ''Trebuchet MS''; font-size: medium; font-weight: bold; font-style: normal; color: black">'+ @msg+'</p>'+
    N'<table width = "1000">'+
    N'<tr align="left"  style="font-family: ''Trebuchet MS''; font-size: small; font-weight: bold; font-style: normal; color: #FFFFFF">'+
	N'<th  align="left" bgcolor="#EAB28A" " width: "150" >Codigo</th>'+
	N'<th  align="left" bgcolor="#4074B0" " width: "350" >Nombre</th>'+
	N'<th  align="left" bgcolor="#4074B0" " width: "150" >Sueldo Nuevo</th>'+
    N'<th  align="left" bgcolor="#4074B0" " width: "150" >Sueldo Actual</th>'+
    N'<th  align="left" bgcolor="#4074B0" width: "150" >Fecha de progresion salarial</th>'+
    N'<th  align="left"  bgcolor="#4074B0" width: "50" > % Incremento</th>'+
cast( (select distinct  td= a.codigo, '',
			  td= Nombre,'',
			  td= compania, '',
			  td= monto,'',
			  td= sueldo,'',
			  td= fecha,'',
			  td= cast((cast (round((monto/sueldo),2)as numeric (3,2)))as varchar )+'%',''
 from AP.SalariosProgresivos a join RRHH.vw_datosTrabajadores b on a.codigo=b.Codigo
   where fecha between convert(varchar(10), getdate(), 120) and convert(varchar(10), dateadd(day, +5, getdate()),120)

FOR XML PATH('tr'),TYPE
) as varchar(max))+
    N'</table> <br/><br /><br/><br/>  </body>'  ; 

select @query1=  'select distinct compania,a.codigo,Nombre, monto as sueldo_nuevo, Sueldo as sueldo_actual, fecha, cast((cast (round((monto/sueldo),2)as numeric (3,2)))as varchar )+''%'' as '+'Incremento %'+
   N'from AP.SalariosProgresivos a join RRHH.vw_datosTrabajadores b on a.codigo=b.Codigo'+
  N' where fecha between convert(varchar(10), getdate(), 120) and convert(varchar(10), dateadd(day, +5, getdate()),120)'

exec msdb.dbo.Sp_send_dbmail
     @profile_name = 'Informacion_Nomina',  
     @Subject = @asunto,
     @recipients = @correo,
     @body_format= 'html',
     @body = @html  ,  
	 @query = @query1 ,
	 --@query_result_width =32767,
	 @query_result_separator=';',
     @copy_recipients = @correoCC ,
	 @query_attachment_filename = 'Listado_venc_AP_SalariosProgresivos.csv',
     @attach_query_result_as_file = 1; 

end

----------------------------correo 1 dia antes
set @i=0
 select @i  =   count (*) from AP.SalariosProgresivos 
       where fecha between convert(varchar(10), getdate(), 120) and convert(varchar(10), dateadd(day, +1, getdate()),120)
if (@i>0)
begin 
set @asunto = 'Listado de trabajadores con Salarios Progresivos por Vencer'
set @msg = 'Adjunto se envia el listado de trabajadores con Salarios progresivos a Vencer en 1 dia'
set @saludos='Buenos días'

select @html='<head> <title></title> <style type="text/css">table {border-collapse: collapse;} table, td, th {border: 1px solid black;}</style></head>'+
    N'<body><p  style="font-family: ''Trebuchet MS''; font-size: medium; font-weight: bold; font-style: normal; color:black">'+@saludos+'</p><b></n>'+
    N'<p  style="font-family: ''Trebuchet MS''; font-size: medium; font-weight: bold; font-style: normal; color: black">'+ @msg+'</p>'+
    N'<table width = "1000">'+
    N'<tr align="left"  style="font-family: ''Trebuchet MS''; font-size: small; font-weight: bold; font-style: normal; color: #FFFFFF">'+
	N'<th  align="left" bgcolor="#EAB28A" " width: "150" >Codigo</th>'+
	N'<th  align="left" bgcolor="#4074B0" " width: "350" >Nombre</th>'+
	N'<th  align="left" bgcolor="#4074B0" " width: "150" >Sueldo Nuevo</th>'+
    N'<th  align="left" bgcolor="#4074B0" " width: "150" >Sueldo Actual</th>'+
    N'<th  align="left" bgcolor="#4074B0" width: "150" >Fecha de progresion salarial</th>'+
    N'<th  align="left"  bgcolor="#4074B0" width: "50" > % Incremento</th>'+
cast( (select distinct  td= a.codigo, '',
			  td= Nombre,'',
			  td= compania, '',
			  td= monto,'',
			  td= sueldo,'',
			  td= fecha,'',
			  td= cast((cast (round((monto/sueldo),2)as numeric (3,2)))as varchar )+'%',''
 from AP.SalariosProgresivos a join RRHH.vw_datosTrabajadores b on a.codigo=b.Codigo
   where fecha between convert(varchar(10), getdate(), 120) and convert(varchar(10), dateadd(day, +1, getdate()),120)

FOR XML PATH('tr'),TYPE
) as varchar(max))+
    N'</table> <br/><br /><br/><br/>  </body>'  ; 

select @query1=  'select distinct compania,a.codigo,Nombre, monto as sueldo_nuevo, Sueldo as sueldo_actual, fecha, cast((cast (round((monto/sueldo),2)as numeric (3,2)))as varchar )+''%'' as '+'Incremento %'+
   N'from AP.SalariosProgresivos a join RRHH.vw_datosTrabajadores b on a.codigo=b.Codigo'+
  N' where fecha between convert(varchar(10), getdate(), 120) and convert(varchar(10), dateadd(day, +1, getdate()),120)'

exec msdb.dbo.Sp_send_dbmail
     @profile_name = 'Informacion_Nomina',  
     @Subject = @asunto,
     @recipients = @correo,
     @body_format= 'html',
     @body = @html  ,  
	 @query = @query1 ,
	 --@query_result_width =32767,
	 @query_result_separator=';',
     @copy_recipients = @correoCC ,
	 @query_attachment_filename = 'Listado_venc_AP_SalariosProgresivos.csv',
     @attach_query_result_as_file = 1; 

end

----------------------------correo vencen hoy
set @i=0
 select @i  =   count (*) from AP.SalariosProgresivos 
       where fecha = convert(varchar(10), getdate(), 120) 
if (@i>0)
begin 
set @asunto = 'Listado de trabajadores con Salarios Progresivos que vencen hoy'
set @msg = 'Adjunto se envia el listado de trabajadores con Salarios progresivos a Vencer Hoy'
set @saludos='Buenos días'

select @html='<head> <title></title> <style type="text/css">table {border-collapse: collapse;} table, td, th {border: 1px solid black;}</style></head>'+
    N'<body><p  style="font-family: ''Trebuchet MS''; font-size: medium; font-weight: bold; font-style: normal; color:black">'+@saludos+'</p><b></n>'+
    N'<p  style="font-family: ''Trebuchet MS''; font-size: medium; font-weight: bold; font-style: normal; color: black">'+ @msg+'</p>'+
    N'<table width = "1000">'+
    N'<tr align="left"  style="font-family: ''Trebuchet MS''; font-size: small; font-weight: bold; font-style: normal; color: #FFFFFF">'+
	N'<th  align="left" bgcolor="#EAB28A" " width: "150" >Codigo</th>'+
	N'<th  align="left" bgcolor="#4074B0" " width: "350" >Nombre</th>'+
	N'<th  align="left" bgcolor="#4074B0" " width: "150" >Sueldo Nuevo</th>'+
    N'<th  align="left" bgcolor="#4074B0" " width: "150" >Sueldo Actual</th>'+
    N'<th  align="left" bgcolor="#4074B0" width: "150" >Fecha de progresion salarial</th>'+
    N'<th  align="left"  bgcolor="#4074B0" width: "50" > % Incremento</th>'+
cast( (select distinct  td= a.codigo, '',
			  td= Nombre,'',
			  td= compania, '',
			  td= monto,'',
			  td= sueldo,'',
			  td= fecha,'',
			  td= cast((cast (round((monto/sueldo),2)as numeric (3,2)))as varchar )+'%',''
 from AP.SalariosProgresivos a join RRHH.vw_datosTrabajadores b on a.codigo=b.Codigo
   where fecha = convert(varchar(10), getdate(), 120)

FOR XML PATH('tr'),TYPE
) as varchar(max))+
    N'</table> <br/><br /><br/><br/>  </body>'  ; 

select @query1=  'select distinct compania,a.codigo,Nombre, monto as sueldo_nuevo, Sueldo as sueldo_actual, fecha, cast((cast (round((monto/sueldo),2)as numeric (3,2)))as varchar )+''%'' as '+'Incremento %'+
   N'from AP.SalariosProgresivos a join RRHH.vw_datosTrabajadores b on a.codigo=b.Codigo'+
  N' where fecha =convert(varchar(10), getdate(), 120)'

exec msdb.dbo.Sp_send_dbmail
     @profile_name = 'Informacion_Nomina',  
     @Subject = @asunto,
     @recipients = @correo,
     @body_format= 'html',
     @body = @html  ,  
	 @query = @query1 ,
	 --@query_result_width =32767,
	 @query_result_separator=';',
     @copy_recipients = @correoCC ,
	 @query_attachment_filename = 'Listado_venc_AP_SalariosProgresivos.csv',
     @attach_query_result_as_file = 1; 

end

END
