USE [DB_NOMKFC]
GO
/****** Object:  StoredProcedure [Asistencia].[pa_reporte_Trab_sinHE]    Script Date: 11/6/2026 10:01:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:          <Carlucci, Luis>
-- Create date: <23/01/2020>
-- Description:     <reporte de trabajadores con derecho a horas extra sin horas extra en el periodo>
-- =============================================

ALTER procedure [Asistencia].[pa_reporte_Trab_sinHE] 
@cco varchar(10),
@id_mesoperativo int
AS
begin
declare
@fechaini date,
@fechafin date,
@codigo varchar(20),
@HEAcum decimal(12,2),
@nombre varchar (500),
@cadena varchar(10),
@cadena_desc varchar(200),
@canton varchar(10),
@canton_desc varchar(200),
@fechaIngreso date,
@fechaBaja date,
@fechaprebaja date,
@compania varchar(10),
@compania_desc varchar(250),
@cco_desc varchar(250),
@fecha date

SET NOCOUNT ON;

	create table #tabla(
	codigo varchar(20),
	cedula varchar(10),
	nombre varchar(250),
	compania varchar(4),
	compania_desc varchar(250),
	cadena varchar(10),
	cadena_desc varchar(250),
	cco varchar(10),
	cco_desc varchar(250),
	fechaini date,
	fechafin date
	)

	select @fechaini=fechaini, @fechafin=fechafin 
	from Asistencia.mesOperacional 
	where id=@id_mesoperativo

	select @canton=cod_cantom, @canton_desc=canton, @cadena=CLASE_NOMINA,
	@cadena_desc=DESCRIPCION_CLASE, @compania=COMPANIA, @compania_desc=EMPRESA, 
	@cco_desc=CCO_DESCRIPCION 
	from adam.dbo.FPV_AGR_COM_CLASE where coo=@cco

	Declare CTrabSinHE Cursor local For                          
    Select distinct codigo, nombre, fecha_ingreso, Fecha_bajaIndice, Fecha_baja
	from asistencia.marcajes inner join rrhh.vw_datosTrabajadores on codigo=codigo_emp_equipo  
	where cco_trab=@cco and (fecha_baja is null or fecha_baja>=@fechafin) and (Fecha_bajaIndice is null or Fecha_bajaIndice>=@fechafin)
	and fecha between @fechaini and @fechafin and Excluidos_Horas_Ext = 'NO'
	--and left(codigo,10) not in (select trabajador from adam.dbo.rel_trab_coleccion WHERE coleccion = 'EXCL_HEXT' AND trabajador = LEFT(Codigo, 10) AND compania = RIGHT(Codigo, 2))
	 
		Open CTrabSinHE                         
                          
		 While @@Fetch_Status < 1                          
		  Begin                          
			 Fetch CTrabSinHE Into @codigo , @nombre, @fechaIngreso , @fechaprebaja, @fechaBaja         
			 
                  If @@Fetch_Status <> 0                           
					Begin                          
					   Break                          
					End      
				 
					   --select @nombre=nombre, @fechaIngreso= fecha_ingreso, @fechaprebaja=Fecha_bajaIndice, @fechaBaja= Fecha_baja
					   --from rrhh.vw_datosTrabajadores where codigo=@codigo

					   set @HEAcum=0
					   set @fecha=@fechaini

					   while @fecha<=@fechafin	
						begin

							select @HEAcum=@HEAcum+(he25+he50A+he100A) 
							from Asistencia.marcajes 
							where codigo_emp_equipo=@codigo and fecha=@fecha
							 
							set @fecha=DATEADD(day,1,@fecha)
						end
					  
					  if @HEAcum=0
						begin

							insert into #tabla (codigo , cedula , nombre , compania , compania_desc , cadena , cadena_desc, cco ,  cco_desc , fechaini, fechafin)
							values (@codigo, left(@codigo,10), @nombre, @compania, @compania_desc, @cadena, @cadena_desc, @cco, @cco_desc, @fechaini, @fechafin)

						end
					  
						
			 If @@Fetch_Status <> 0                           
				Begin                          
				   Break                          
				End                          
              

                        
		end                          
  Close      CTrabSinHE                         
  Deallocate CTrabSinHE

  select codigo , cedula , nombre , compania , compania_desc , cadena , cadena_desc, cco ,  cco_desc , fechaini, fechafin from #tabla

end



--asistencia.pa_reporte_Trab_sinHE '14101039',9

--select * from asistencia.mesoperacional

