USE [ADAM]
GO
/****** Object:  StoredProcedure [dbo].[sp_fpv_aviso_vacaciones_descuadre_mesNew]    Script Date: 5/6/2026 16:51:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-----Creado Dennis Suarez
-----Fecha 31/05/2024
----Version 1.0
----Recorre la tabla saldo vacaciones para buscar a quien se le diferencia el mes de entrada en la antiguedad, con la fecha de comienzo del ciclo.
 
ALTER PROCEDURE [dbo].[sp_fpv_aviso_vacaciones_descuadre_mesNew]
AS
DECLARE @trabajador CHAR(10)
    , @compania CHAR(4)
    , @fecha_ingreso SMALLDATETIME
    , @fecha_antiguedad SMALLDATETIME
    , @fecha_iniVacaciones SMALLDATETIME
    , @ciclo VARCHAR(10)
    , @mensaje VARCHAR(3000)
    , @empresa VARCHAR(100)
    , @asunto VARCHAR(250)
    , @nombreTrab VARCHAR(100)
    , @html VARCHAR(4000)
    , @saludos VARCHAR(100)
    , @correo VARCHAR(1000)
    , @x SMALLINT = 0
    , @fecha DATETIME
    , @dia SMALLINT
    , @mes SMALLINT
    , @anio SMALLINT
    , @correoCC VARCHAR(1000)
    , @i SMALLINT = 0
	 ,@cadena varchar(200) 
    , @cco varchar(200) 
    , @b SMALLINT = 0

BEGIN
    -----Seccion A.2 Descuadre
    ---vemos que el mes sea diferente entre la fecha de antiguedad y la fecha de inicio de la vacacion
    SET @fecha = GETDATE()
    SET @dia = datepart(day, @fecha)
    SET @mes = datepart(month, @fecha)
    SET @anio = datepart(year, @fecha)

     Declare @tableVacaciones  as table(Compania char(2), Empresa varchar(250), Cadena varchar(250),CCO varchar(250), 
	 Cedula  char(10), Nombre varchar(250), Mensaje varchar(1500), Tipo char(1), Motivo varchar(100))
 

    ---------------------------------------------------------------------------------------------------------------------
    DECLARE C_SA2Mes CURSOR
    FOR
    SELECT T.compania
        , T.trabajador
        , T.fecha_antiguedad
        , T.fecha_ingreso
        , V.fecha_ini_prog_vac
        , V.ciclo_laboral
    FROM saldos_vacaciones V
    INNER JOIN trabajadores_grales T
        ON v.trabajador = T.trabajador
            AND V.compania = T.compania
    WHERE T.sit_trabajador = 1
        AND V.fecha_ini_prog_vac > T.fecha_antiguedad
        AND datepart(month, T.fecha_antiguedad) <> datepart(month, V.fecha_ini_prog_vac)
    ORDER BY T.trabajador

    OPEN C_SA2Mes

    WHILE @@Fetch_Status < 1
    BEGIN
        FETCH C_SA2Mes
        INTO @compania
            , @trabajador
            , @fecha_antiguedad
            , @fecha_ingreso
            , @fecha_iniVacaciones
            , @ciclo

        IF @@Fetch_Status <> 0
        BEGIN
            BREAK
        END

        SET @x = @x + 1

         
		Select @empresa = Compania_Desc, @cco =Desc_CCO, @cadena  = Desc_Clase_nomina , @nombreTrab = nombre  from dbo.vw_datos_trabajador_nomina
        where compania = @compania and trabajador = @trabajador
	    and situacion = 'Activo'

        SET @mensaje = ' El presente correo tiene como fin informale que el trabajador de nombre: ' + @nombreTrab + ', con cedula : ' + @trabajador + ', que se encuentra activo(a) en la empresa: ' + @empresa + ', y tiene como fecha de antiguedad : ' + CONVERT(VARCHAR(15), @fecha_antiguedad, 103) + ' y fecha de ingreso : ' + CONVERT(VARCHAR(15), @fecha_antiguedad, 103) + ', tiene como fecha de inicio en sus vacaciones lo siguiente: ' + CONVERT(VARCHAR(15), @fecha_iniVacaciones, 103) + ', en el ciclo ' + @ciclo + ' , lo cual no cuadra en el mes. '
        SET @asunto = 'Punto A.2: Error de descuadre en el mes de inicio de vacaciones. Con el trabajador: ' + @nombreTrab
        SET @saludos = 'Buenos Dias'

      	 
        ----insertar registro de envio
        EXEC sp_fpv_inserta_avisos_vacaciones 'PTO_A2_Mes'
            , @mensaje
            , @ciclo
            , @dia
            , @mes
            , @anio
            , @trabajador
            , @fecha
            , NULL
            , NULL
            , NULL
            , @correo

			  Insert into @tableVacaciones (Compania , Empresa , Cadena ,CCO  , Cedula , Nombre , Mensaje , tipo, Motivo)
             select @compania, @empresa, @cadena, @cco,@trabajador, @nombreTrab, @mensaje, 'A', 'Error de descuadre en el mes de inicio de vacaciones'
	      
    END

    CLOSE C_SA2Mes

    DEALLOCATE C_SA2Mes

	Select Compania , Empresa , Cadena ,CCO  , Cedula , Nombre , Mensaje ,  Motivo from @tableVacaciones 
    order by compania, cadena, tipo
    
END
