USE [ADAM]
GO
/****** Object:  StoredProcedure [dbo].[sp_fpv_aviso_vacaciones_saldos_negativosNew]    Script Date: 3/6/2026 10:53:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-----Creado Dennis Suarez
-----Fecha 31/05/2024
----Version 1.0
 
ALTER procedure [dbo].[sp_fpv_aviso_vacaciones_saldos_negativosNew]
AS
declare 
	@x smallint=0,
	@compania char(4),
	@trabajador char(10),
	@vacporCiclo smallint,
	@VacDisfrutada smallint,
	@ciclo varchar(10),
	@mensaje varchar(3000),
	@empresa varchar(100),
	@asunto varchar(250),
	@nombreTrab varchar(100),
	@html varchar(4000),
	@saludos varchar(100),
	@correo varchar(1000),
	@vac_porgramadas smallint =0,
	@fecha datetime, 
	@correoCC varchar(1000),
	@dia smallint,
	@mes smallint,
	@anio smallint,
	@i smallint=0,
	@cadena varchar(200),
	@cco varchar(200),
	@b smallint=0
Begin

 set @fecha= GETDATE()
 set @dia = datepart(day,@fecha)
 set @mes = datepart(month,@fecha)
 set @anio = datepart(year,@fecha)

 
  Declare @tableVacacionesNegativos as table(Compania char(2), Empresa varchar(200), Cadena varchar(200),CCO varchar(20), Cedula  char(10), Nombre varchar(150), Mensaje varchar(800), Tipo char(1), Motivo varchar(50))
 
 ---------------------------------------------------------------------------------------------------------------------
    
----Punto 2.1
----Seccion A.1 Negativos
----identificar quienes tienen vacaciones en negativo

 Declare C_2A_Negativos Cursor For                          
	 select T.compania, T.trabajador,V.vac_por_ciclo, V.vac_disfrutadas, V.ciclo_laboral
	,V.vac_programadas from saldos_vacaciones V inner join trabajadores_grales T
	on v.trabajador = T.trabajador and V.compania = T.compania
	where vac_programadas<0
	and T.sit_trabajador = 1
	union all
	select T.compania, T.trabajador,V.vac_por_ciclo, V.vac_disfrutadas, V.ciclo_laboral
	,V.vac_programadas from saldos_vacaciones V inner join trabajadores_grales T
	on v.trabajador = T.trabajador and V.compania = T.compania
	where vac_disfrutadas<0
	and T.sit_trabajador = 1
	union all
	select T.compania, T.trabajador,V.vac_por_ciclo, V.vac_disfrutadas, V.ciclo_laboral
	,V.vac_programadas from saldos_vacaciones V inner join trabajadores_grales T
	on v.trabajador = T.trabajador and V.compania = T.compania
	where vac_por_ciclo <0
	and T.sit_trabajador = 1
	union all
	select T.compania, T.trabajador,V.vac_por_ciclo, V.vac_disfrutadas, V.ciclo_laboral
	,V.vac_programadas from saldos_vacaciones V inner join trabajadores_grales T
	on v.trabajador = T.trabajador and V.compania = T.compania
	where vac_por_ciclo <vac_disfrutadas
	and T.sit_trabajador = 1
--order by T.trabajador

Open C_2A_Negativos                          
                          
 While @@Fetch_Status < 1                          
  Begin                          
     Fetch C_2A_Negativos Into @compania ,@trabajador,@vacporCiclo, @VacDisfrutada,@ciclo ,@vac_porgramadas               
                          
     If @@Fetch_Status <> 0                           
        Begin                          
           Break                          
        End                          
   set @x = @x+1           

   select @nombreTrab = replace(nombre, '/',' ') from trabajadores where trabajador = @trabajador 
   select @empresa = ltrim(rtrim(nombre_cia)) from companias where compania = @compania

   Select @empresa = Compania_Desc, @cco =Desc_CCO, @cadena  = Desc_Clase_nomina , @nombreTrab = nombre  from dbo.vw_datos_trabajador_nomina
    where compania = @compania and trabajador = @trabajador
	and situacion = 'Activo'
  
  
    set @mensaje = ' El presente correo tiene como fin informale que el trabajador de nombre: '+ @nombreTrab +
                   ', con cedula : ' + @trabajador + ', que se encuentra activo(a) en la empresa: ' + @empresa + ', en el ciclo : '+ @ciclo +
                   ' tiene numero de dias asignado: ' + CONVERT(varchar(4),@vacporCiclo) + ' y en disfrutadas tiene: ' +
                   CONVERT(varchar(4),@vacporCiclo) + ' y en dias de programacion de vacaciones '+CONVERT(varchar(4),@vacporCiclo) + ' presenta un saldo negativo.' 
    
     Exec sp_fpv_inserta_avisos_vacaciones 'PTO_A1_Negativos',@mensaje, @ciclo, @dia,@mes,@anio, @trabajador,@fecha, null,null,null,@correo 

    Insert into @tableVacacionesNegativos(Compania , Empresa , Cadena ,CCO  , Cedula , Nombre , Mensaje , tipo, Motivo)
    select @compania, @empresa, @cadena, @cco,@trabajador, @nombreTrab, @mensaje, 'A', 'Error de saldos negativos en vacaciones'
	 
                      
  end                          
  Close      C_2A_Negativos                          
  Deallocate C_2A_Negativos 
  
   
  Select Compania , Empresa , Cadena ,CCO  , Cedula , Nombre , Mensaje ,  Motivo from  @tableVacacionesNegativos
  order by compania, cadena

 End ---fin